<h1>Organisations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td>Asutria</td>
        
        <td style="float: right;">
          <i class="fa fa-pencil"></i>
          <i class="fa fa-plus-square-o"></i>
          <i class="fa fa-times"></i>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation', new_organisation_path, class: "btn btn-default" %>
