<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @organisation.country_id %>
</p>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
