<div class="modal fade" id="add_organisation_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add organisation</h4>
      </div>
      <div class="modal-body networks">
        <table class="sortable table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td class="check-all">Check/Uncheck</td>
            </tr>
          </thead>
          <%= form_tag "/ir21/add-notify-group-organisation", class: "form" do %>
          <% @organisations.each do |organisation| %>
          <tr class="hand">
            <td>
              <%= organisation.name  %>
            </td>
            <td>
              <%= check_box_tag "organisations[]", "#{organisation.id}",false, class: "check-box" %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>
        <!-- Form is posted from javascript /notification.coffee -->
        <div class="add-multiple-organisations btn btn-default">Add organisations</div>
        <!-- Form is posted from javascript /notification.coffee -->
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->