<div class="modal fade" id="add_network_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add network</h4>
      </div>
      <div class="modal-body networks">
        <!-- Form is posted from javascript /notification.coffee -->
        <div id="scoped-networks"></div>
        <div class="add-multiple-networks btn btn-default">Add Networks</div>
        <!-- Form is posted from javascript /notification.coffee -->
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->