<div class="modal fade" id="new_profile_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a new profile</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(add_notify_group_profile_path)  do  %>

          <%= text_field_tag "name", nil, class: "form-control", placeholder: "Name of group", required: :true %>
          <br/>
          <%= submit_tag "Create profile", class: "btn" %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->