<div class="modal fade" id="add_user_to_group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add user</h4>
      </div>
      <div class="modal-body networks">
        <table class="sortable">
          <thead>
            <tr>
              <td>Name</td>
              <td>Email</td>
            </tr>
          </thead>
          <% @unlisted_users.each do |user| %>
            <tr>
              <td>
                <%= user.first_name %> <%= user.last_name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td><%= link_to add_notify_group_to_user_path(notify_group_id: @notify_group.id, user_id: user.id ) do %>Add<% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->