<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <td>Name</td>
      <td>Mcc</td>
      <td>Mnc</td>
      <td id="1">Organisation id</td>
      <td class="check-all">Check/Uncheck</td>
    </tr>
  </thead>
  <%= form_tag "/ir21/add-notify-group-network", class: "form" do %>
    <% networks.each do |network| %>
      <tr class="hand">
        <td>
          <%= network.display_name  %>
        </td>
        <td>
          <%= network.routing["e212_mcc"] %>
        </td>
        <td>
          <%= network.routing["e212_mnc"] %>
        </td>
        <td>
          <%= network.organisation_id %>
        </td>
        <td>
          <%= check_box_tag "network[]", "#{network.id}",false, class: "check-box" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>