<h1>Notifications</h1>
<table class="table-responsive table-striped networks sortable">
	<thead style="white-space: nowrap;">
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>message</th>
			<th>File</th>
			<th>Effective date of change</th>
			<th>Changed sections</th>
			<th>TADIG</th>
		</tr>
	</thead>
	<tbody>
		<% @notifications.each do |diff| %>
		
		<tr class="network">
			<td>
				<div class="green_dot">
					
				</div>
				<%= diff.created_at %>
			</td>
			<td>
				<%= link_to diff.network do %><%= diff.network.try(:display_name) %><% end %>
			</td>
			<!-- Removing some hard coded error messages done in early phase -->
			<td>
				<%= diff.message.sub('does not match latest import', '') %>
			</td>
			<td>
				<% case diff.network.try(:import).try(:file_type) %>
				<% when 'xml' %>
				<%= link_to network_read_xml_path(diff.network) do %>
				<i class='fa fa-file-code-o'></i>
				<% end %>
				<% when 'xlsx' %>
				<%= link_to network_read_excel_path(diff.network) do %>
				<i class="fa fa-file-excel-o"></i>
				<% end %>
				<% end %>
			</td>
			<td>
				<% if diff.network %>
					<%= diff.network.routing["effective_date_of_change"] %>
				<% end %>
			</td>
			<td>
			<% nd = NetworkDiff.where(network_id: diff.try(:network_id)).all %>
			<% nd.each do |section| %>
				<% if section.snapshot %>
					<%= link_to section.message, show_diff_snapshot_path(section) %>
				<% else %>
					<%= section.message %>
				<% end %>
			<% end %>
			<% if nd.nil? %>
				No sections changed
			<% end %>
			</td>
			<td><%= diff.network.try(:tadig_code) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
