<h1>Notification groups</h1>
<div class="add-network" data-toggle="modal" data-target="#new_profile_modal">
	<i class="fa fa-plus-square" aria-hidden="true"></i> Add profile 
</div>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @notify_groups.each do |group| %>
			<tr class="click-row">
				<td>
					<%= group.name %>
				</td>
				<td class="edit">
					<%= link_to notify_group_path(group), class: "notify_link" do  %>
						Edit <i class="fa fa-pencil-square" aria-hidden="true"></i>
					<% end %>
					<%= link_to delete_notify_group_path(group), class: "notify_link pull-right", data: { confirm: 'Are you sure?' }, method: :delete do  %>
						Remove <i class="fa fa-times" aria-hidden="true"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= render 'modal_new_profile' %>