<h2><%= @notify_group.name %></h2>

<h4>Added Organisations <i class="fa fa-plus-square" aria-hidden="true" data-toggle="modal" data-target="#add_organisation_modal"></i></h4>
<% if @notify_group.notify_all_networks? %>
	All networks and organisations are notified for changes.
<% else %>
	<% if @added_organisations.blank? %>
	<strong>No organisations added yet, please press + sign above to add an organisation</strong>
	<% else %>
	<table class="sortable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Networks</td>
			</tr>
		</thead>
		<% @added_organisations.each do |organisation| %>
			<tr>
				<td>
					<%= organisation.name %> <%= organisation.id %>
				</td>
				<td>
					<% @notify_group.networks.where(organisation_id: organisation.id).each do |network| %>
						<%= network.display_name %> <%= network.id %>
					<% end %>
					<% if @notify_group.networks.where(organisation_id: organisation.id)..blank? %>
						All networks is added - <a data-toggle="modal" class="add-network" data-target="#add_network_modal" data-id="<%= organisation.id %>">change this</a>
					<% end %>
				</td>
				<td>
					<%= link_to delete_organisation_from_notify_group_path(organisation_id: organisation.id, notify_group_id: @notify_group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
						<i class="fa fa-times" aria-hidden="true"></i>
					<% end %>
				</td>
			</tr>
		<% end %>

		
	</table>
	<% end %>
<% end %>

<h4>Added users <i class="fa fa-plus-square" aria-hidden="true" data-toggle="modal" data-target="#add_user_to_group"></i>
</h4>
<table class="sortable">
	<thead>
		<tr>
			<td>Name</td>
			<td>Email</td>
		</tr>
	</thead>
	<% @notify_group.users.each do |user| %>
	<tr>
		<td>
			<%= user.first_name %> <%= user.last_name %>
		</td>
		<td>
			<%= user.email %>
		</td>
		<td>
			<%= link_to delete_from_notify_group_path(user_id: user.id, group_id: @notify_group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
			<i class="fa fa-times" aria-hidden="true"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<%= render 'modal_add_network' %>
<%= render 'modal_add_organisation' %>
<%= render 'modal_add_user_to_group' %>