<div class="page-header">
  <%= link_to new_change_history_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Change history
  <% end %>
  <h1>Listing change_histories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Data</th>
            <th>Network section</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @change_histories) do |change_history| %>
            <td>
              <!-- Function to output subquery -->
              <% subhash = change_history.data.to_s.tr('=>', ' :') %>
              <% subjson = JSON.parse subhash %>
              <% walk_tree(subjson) do |tree, depth| %>
                  <% padding = depth * 7 %>
                  <div style="padding-left: <%= padding %>px">
                    <% if tree[0] %>
                        <% unless tree[0].is_a?(Hash) %>
                            <strong><%= tree[0] %></strong>
                        <% end %>
                    <% end %>
                    <% if tree[1].is_a?(String) %>
                        : <span><%= tree[1] %></span>
                    <% end %>
                  </div>
              <% end %>
            </td>
            <td><%= change_history.network_section_id %></td>
            <td><%= link_to 'Show', change_history %></td>
        <td><%= link_to 'Edit', edit_change_history_path(change_history) %></td>
        <td><%= link_to 'Destroy', change_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
