<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>Change history for <%= @change_history.network_section.try(:name) %></h3>
</div>

<% @change_histories.each do |change_history| %>
<dl class="dl-horizontal">
  <!-- Function to output subquery -->
  <% subhash = change_history.data['ChangeHistory'].tr('=>', ' :') %>
  <% subjson = JSON.parse subhash %>
  <% walk_tree(subjson) do |tree, depth| %>
    <% padding = depth * 7 %>
    <div style="padding-left: <%= padding %>px">
      <% if tree[0] %>
        <% unless tree[0].is_a?(Hash) || tree[0] == 'ChangeHistoryItem' %>
          <strong><%= tree[0] %></strong>
        <% end %>
      <% end %>
      <% if tree[1].is_a?(String) %>
        : <span><%= tree[1] %></span>
      <% end %>
    </div>
  <% end %>
  <dt>Network section:</dt>
  <dd><%= @change_history.network_section_id %></dd>
</dl>
  <hr/>
<% end %>