<style>
  <%= Diffy::CSS %>
</style>
<h1>IR21 Inventory updates</h1>

<h3><%= @organisation.name %></h3>

<p>Number of networks where changed in the last import</p>

<p>The networks that where not present in the most recent import are</p>

<%= @diff.to_i %>