<style>
	<%= Diffy::CSS %>
</style>
<h1>IR21 Inventory updates</h1>

<h3><%= @network.display_name %></h3>

<div class="mcc">MCC : <%= @network.routing["e212_mcc"] %></div>
<div class="mcc">MNC : <%= @network.routing["e212_mnc"] %></div>
<div class="xml_creation_date"> Import file creation date : <%= @network.xml_creation_date %></div>

<!-- Start to list changed sections -->
<% if @network.import.try(:network_diffs) %>
<% @network.import.try(:network_diffs).each do |diff| %>
<!-- Check here if user has opted in for this kind of notification -->
<% user_check = NotifyFieldUser.where(user_id: @user.id, id: diff.notify_field_id).first %>
<% next unless user_check %>
<h4>
	<%= diff.message %>
</h4>
<div class="old_effective_date_of_change">
	Date of change before update <%= diff.old_effective_date_of_change %>
</div>
<div class="new_effective_date_of_change">
	Date of change after update <%= NetworkRow.where(network_section_id: diff.section_id).last.try(:effective_date_of_change) %>
</div>
<div class="diff">
	<% if diff.snapshot %>
		<% v1 = diff.snapshot.split('=================================================').first.strip %>
		<% v2 = diff.snapshot.split('=================================================').second.strip %>
	<% end %>
	<h4>Diffrencies</h4>
	<% if v1.blank? %>
	Section not found in previous version
	<% end %>
	<%= Diffy::Diff.new(v1,v2, :context => 50, format: :html, :include_plus_and_minus_in_html => true).to_s(:html).html_safe %>
</div>
<hr/>
<% end %>
<% else %>
	<br/><br/>
	No changes was detected
<% end %>