<h1>Reset your password</h1>
<p>Please click the link below to reset your password</p>
<br/>
<% if Rails.env.beta? %>
<a href="https://tgs-ir21.datek.no/ir21/change-password?token=<%= @reset_password_token %>">
<% else %>
	<a href="https://tmss-ir21.telenorglobal.com/ir21/change-password?token=<%= @reset_password_token %>">
<% end %>
	Click here to change your password
</a>

