<h1>Search</h1>
<% @result.each do |r| %>
    <%= link_to r do %>
        <div class="result col-md-12 row">
            <h3><%= r.display_name %></h3>
            <p><%= r.organisation.name %></p>
        </div>
    <% end %>
<% end %>
<div class="clearfix"></div>
