<%= form_for(@network_section_field, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @network_section_field.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@network_section_field.errors.count, "error") %> prohibited this network_section_field from being saved:</h4>

      <ul>
      <% @network_section_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.hidden_field :network_section_id,value: params[:id], :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Create new field", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
