<div class="page-header">
  <%= link_to new_network_section_field_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Network section field
  <% end %>
  <h1>Listing network_section_fields</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Network section</th>
            <th>Name</th>
            <th>Sort order</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @network_section_fields) do |network_section_field| %>
            <td><%= network_section_field.network_section_id %></td>
            <td><%= network_section_field.name %></td>
            <td><%= network_section_field.sort_order %></td>
            <td><%= link_to 'Show', network_section_field %></td>
        <td><%= link_to 'Edit', edit_network_section_field_path(network_section_field) %></td>
        <td><%= link_to 'Destroy', network_section_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
