<div class="page-header">
  <%= link_to network_section_fields_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New network_section_field</h1>
</div>

<%= render 'form' %>
