<div class="page-header">
  <%= link_to network_section_fields_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_network_section_field_path(@network_section_field), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show network_section_field</h1>
</div>

<dl class="dl-horizontal">
  <dt>Network section:</dt>
  <dd><%= @network_section_field.network_section_id %></dd>

  <dt>Name:</dt>
  <dd><%= @network_section_field.name %></dd>

  <dt>Sort order:</dt>
  <dd><%= @network_section_field.sort_order %></dd>
</dl>
