<% if nw_children %>
<table style="position: relative; left: 20px;" class="sortable table table-striped">
	<% unless defined? section_shown %>
		<% section = NetworkSection.where(id: nw_children.first.network_section_id).first %>
	<% end %>
	<% section_shown = true %>
	<!-- Fields -->
	<thead>
		<!-- Fields -->
		<tr>
			<% section.network_rows.first.data.each do |test| %>
			<td>
				<strong>
					<%= test[0].humanize %>
				</strong>
			</td>
			<% end %>
		</tr>
	</thead>
	<!-- /Fields -->
	<tbody>
		<% nw_children.each do |network| %>
			<!-- Values -->
			<tr>
				<% network.data.each do |data| %>
					<td>
						<%= data[1] %>
					</td>
				<% end %>
			</tr>
			<% section_shown = false %>
		<% end %>
	</tbody>
	</table>
<% end %>