<%= bootstrap_form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.text_field :organisation_id %>
  </div>
  <div class="field">
    <%= f.text_field :tadig_code %>
  </div>
  <div class="field">
    <%= f.text_field :network_name %>
  </div>
  <div class="field">
    <%= f.check_box :terrestrial %>
  </div>
  <div class="field">
    <%= f.text_field :country_initials_and_mnn, label: "Iso code" %>
  </div>
  <div class="field">
    <%= f.text_field :abbreviated_mnn %>
  </div>
  <div class="field">
    <%= f.text_field :network_color_code %>
  </div>
  <div class="field">
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
