<div class="modal fade modal<%= network.id %>" id="show_comment_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add comment</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(network) do |f| %>
        <div class="field">
          <%= f.text_area :comment, rows: "10" %>
        </div>
        <div class="clearfix"></div>
        <div class="actions">
          <%= f.submit %>
        </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->