<div class="modal fade" id="linerangeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new line range</h4>
      </div>
      <div class="modal-body">
      <br/><br/>
        <%= form_tag("/add-line-range") do |f| %>
          <%= text_field_tag(:start_range, nil, placeholder: "Start range") %>
          <%= text_field_tag(:stop_range, nil, placeholder: "Stop Range") %>
          <%= hidden_field_tag(:network_id, @network.id) %>
          <%= submit_tag('Add line range', class: "btn")%>
        <% end %>
        <br/><br/>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->