<% section = section.parent %>
<div class="parent-wrapper" style="padding: 30px; border: 1px solid #D4D4D4">
  <h3 id="<%= section.name.parameterize %>"><%= section.name %></h3>
  
  <!-- ####################### -->
  <!-- Render parents own rows -->
  
  <!-- Check if any children has effective date of change set and show that on top -->
  <% if child_row = NetworkRow.where("effective_date_of_change is NOT ? AND network_section_id IN(?) AND network_id = ?",nil,section.children.pluck(:id).to_a, @network.id).first %>
  <div class="col-md-12 row">
    Effective date of change: <strong><%= child_row.effective_date_of_change %></strong>
  </div>
  <% end %>
  
  <!-- Render parents own effective_date_of_change if exisiting -->
  <% if edofc = section.network_rows.where(network_id: @network.id).first.try(:effective_date_of_change) %>
  <div class="col-md-12 row">
    Effective date of change: <strong><%= edofc %></strong>
  </div>
  <% end %>

  <!-- New section row -->
  <% if section.network_rows.first %>
  <div class="new-section-row" id="<%= section.id %>">
    <i class="fa fa-plus-square"></i>
    <% if ns = section.change_histories.where(network_id: @network.id).first %>
    <%= link_to ns do %>
    <i class="fa fa-clock-o"></i>
    <% end %>
    <% end %>
  </div>
  <!-- New section row -->
  <% if section.collapsed %>
  <div class="collaps">
    <div data-section-id=<%= section.id %> class="show-collapsed">
      Show <i class="fa fa-plus-square"></i>
    </div>
    <div data-section-id=<%= section.id %> class="hide-collapsed">
      Hide <i class="fa fa-minus-square"></i>
    </div>
  </div>
  <% end %>
  <table id="table_<%= section.id %>" class="table table-striped
    <% if section.collapsed %>collapsed
    <% end %>
    <% if section.sortable %>sortable
    <% end %>">
    <% if section.multi_line %>
    <thead>
      <!-- Fields -->
      <!-- Custom fields -->
      <% if section.network_section_fields.first %>
      <tr>
        <% section.network_section_fields.each do |custom_field| %>
        <td>
          <strong>
            <%= custom_field.name %>
          </strong>
        </td>
        <% end %>
      </tr>
      <!-- /Custom fields -->
      <% else %>
      <tr>
        <% section.network_rows.first.data.each do |test| %>
        <td>
          <strong>
            <%= test[0].humanize %>
          </strong>
        </td>
        <% end %>
      </tr>
      <!-- Dummy row for insert -->
      <tr class="dummy-row" id="dummy_<%= section.id %>">
        <% section.network_rows.first.data.each do |test| %>
        <td>
          <input/>
        </td>
        <% end %>
      </tr>
      <!-- /Dummy row for insert -->
    </thead>
    <% end %>
    <% end %>
    <!-- /Fields -->

    <!-- Data begins here -->
    <tbody>
      <% section.network_rows.where(network_id: @network.id).each do |network| %>
      <% if section.multi_line %>
      <tr>
        <% end %>

        <!-- Custom fields -->
        <% if section.network_section_fields.first %>
        <tr>
          <% section.network_section_fields.each do |custom_field| %>
          <td>
            <%= "#{custom_field.name.tr(' ', '_').downcase}" %>
            <%= network.data["#{custom_field.name.tr(' ', '_')}"] %>
          </td>
          <% end %>
        </tr>
        <% else %>
        <!-- /Custom fields -->

        <% network.data.each do |data| %>

        <% if data[1].nil? %>
        <% next %>
        <% end %>

        <% unless section.multi_line %>
        <tr>
          <td>
            <strong><%= data[0].humanize %></strong>
          </td>
          <% end %>

          <td class="edit edit-hstore-row" data-row-id="<%= network.id %>" data-row-key="<%= data[0] %>">
            <% unless data[1].include? "{" %>
            <%= data[1] %>
            <% else %>
            <!-- Function to output raw hash as xml structure -->
            <% subhash = data[1].tr('=>', ' :') %>
            <% subjson = JSON.parse subhash %>
            <% walk_tree(subjson) do |tree, depth| %>
            <% padding = depth * 7 %>
            <div style="padding-left: <%= padding %>px">
              <% if tree[0] %>
              <% unless tree[0].is_a?(Hash) %>
              <strong><%= tree[0] %></strong>
              <% end %>
              <% end %>
              <% if tree[1].is_a?(String) %>
              : <span><%= tree[1] %></span>
              <% end %>
            </div>
            <% end %>
            <!-- /Function to output raw hash as xml structure -->
            <% end %>
          </td>
          <% unless section.multi_line %>
        </td>
        <% end %>
        <% end %>
        <% if section.multi_line %>
      </td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
<!-- /Render parents own rows -->



<!-- Render children rows -->
<% section.children.each do |section| %>
<% next unless section.network_section_fields %>
<% next unless section.network_rows.first %>
<% next if section.network_rows.where(network_id: @network.id).count == 0 %>
<h3 class="section-title" id="<%= section.name.parameterize %>">
  <%= section.name %>
</h3>
<% if section.network_rows.first.effective_date_of_change && child_row.nil? %>
<div class="col-md-12 row">
  Effective date of change: <strong><%= section.network_rows.first.effective_date_of_change %></strong>
</div>
<% end %>

<!-- New section row -->
<div class="new-section-row" id="<%= section.id %>">
  <i class="fa fa-plus-square"></i>
  <% if ns = section.change_histories.where(network_id: @network.id).first %>
  <%= link_to ns do %>
  <i class="fa fa-clock-o"></i>
  <% end %>
  <% end %>
</div>
<!-- New section row -->
<% if section.collapsed %>
<div class="collaps">
  <div data-section-id=<%= section.id %> class="show-collapsed">
    Show <i class="fa fa-plus-square"></i>
  </div>
  <div data-section-id=<%= section.id %> class="hide-collapsed">
    Hide <i class="fa fa-minus-square"></i>
  </div>
</div>
<% end %>
<table id="table_<%= section.id %>" class="table table-striped
  <% if section.collapsed %>collapsed
  <% end %>
  <% if section.sortable %>sortable
  <% end %>">
  <% if section.multi_line %>
  <thead>
    <!-- Fields -->
    <!-- Custom fields -->
    <% if section.network_section_fields.first %>
    <tr>
      <% section.network_section_fields.each do |custom_field| %>
      <td>
        <strong>
          <%= custom_field.name %>
        </strong>
      </td>
      <% end %>
    </tr>
    <!-- /Custom fields -->
    <% else %>
    <tr>
      <% section.network_rows.first.data.each do |test| %>
      <td>
        <strong>
          <%= test[0].humanize %>
        </strong>
      </td>
      <% end %>
    </tr>
    <!-- Dummy row for insert -->
    <tr class="dummy-row" id="dummy_<%= section.id %>">
      <% section.network_rows.first.data.each do |test| %>
      <td>
        <input/>
      </td>
      <% end %>
    </tr>
    <!-- /Dummy row for insert -->
  </thead>
  <% end %>
  <% end %>
  <!-- /Fields -->

  <!-- Data begins here -->
  <tbody>
    <% section.network_rows.where(network_id: @network.id).each do |network| %>
    <% if section.multi_line %>
    <tr>
      <% end %>

      <!-- Custom fields -->
      <% if section.network_section_fields.first %>
      <tr>
        <% section.network_section_fields.each do |custom_field| %>
        <td>
         <%= "#{custom_field.name.tr(' ', '_').downcase}" %>
         <%= network.data["#{custom_field.name.tr(' ', '_')}"] %>
       </td>
       <% end %>
     </tr>
     <% else %>
     <!-- /Custom fields -->

     <% network.data.each do |data| %>

     <% if data[1].nil? %>
     <% next %>
     <% end %>

     <% unless section.multi_line %>
    <tr>
      <td>
        <strong><%= data[0].humanize %></strong>
      </td>
      <% end %>

      <td class="edit edit-hstore-row" data-row-id="<%= network.id %>" data-row-key="<%= data[0] %>">
        <% unless data[1].include? "{" %>
        <%= data[1] %>
        <% else %>
        <!-- Function to output raw hash as xml structure -->
        <% subhash = data[1].tr('=>', ' :') %>
        <% subjson = JSON.parse subhash %>
        <% walk_tree(subjson) do |tree, depth| %>
        <% padding = depth * 7 %>
        <div style="padding-left: <%= padding %>px">
          <% if tree[0] %>
          <% unless tree[0].is_a?(Hash) %>
          <strong><%= tree[0] %></strong>
          <% end %>
          <% end %>
          <% if tree[1].is_a?(String) %>
          : <span><%= tree[1] %></span>
          <% end %>
        </div>
        <% end %>
        <!-- /Function to output raw hash as xml structure -->
        <% end %>
      </td>
      <% unless section.multi_line %>
    </td>
    <% end %>
    <% end %>
    <% if section.multi_line %>
  </td>
  <% end %>
</tr>
<div>
  <!-- Check for children -->
  <% nw_children = NetworkRow.where(network_row_id: network.id).all %>
  <% unless nw_children.blank? %>
  <% @section_id = section.id %>
  <% @section_done = "" unless @section_done %>
</table>
<%= render 'child_row', nw_children: nw_children %>
<% next unless section.network_rows.first.data.count %>
<% if @section_done == section.id %>
<% @section_done = "" %>
<% next %>
<% end %>
<% @section_done = section.id %>
<table class="sortable">
  <% if section.multi_line %>
  <thead>
    <!-- Fields -->
    <!-- Custom fields -->
    <% if section.network_section_fields.first %>

    <tr>
      <% section.network_section_fields.each do |custom_field| %>
      <td>
        <strong>
          <%= custom_field.name %>
        </strong>
      </td>
      <% end %>
    </tr>
    <!-- /Custom fields -->
    <% else %>
    <tr>
      <% section.network_rows.first.data.each do |test| %>
      <td>
        <strong>
          <%= test[0].humanize %>
        </strong>
      </td>
      <% end %>
    </tr>
    <!-- Dummy row for insert -->
    <tr class="dummy-row" id="dummy_<%= section.id %>">
      <% section.network_rows.first.data.each do |test| %>
      <td>
        <input/>
      </td>
      <% end %>
    </tr>
    <!-- /Dummy row for insert -->
  </thead>
  <% end %>
  <% end %>
  <tbody>
    <% end %>
    <!-- /Check for children -->
  </div>
  <% end %>
  <% end %>
</tbody>
</table>
<% end %>
</div>
<br/>
<!-- /Render children rows -->