<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Choose section to add</h4>
      </div>
      <div class="modal-body">
        <% @inactive_sections.each do |section| %>
          <div class="name" id="<%= section.id %>" data-name="<%= section.name %>">
            <%= section.name %>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->