<div id="navbar-spy">
	<ul class="nav navbar-nav" role="tablist">
		<li class="active">
			<a href="#routing" class="active">
				<div class="selected"></div>
				Routing
			</a>
		</li>
		<li>
			<a href="#international-sccp-carrier">
				International Sccp Carrier
			</a>
		</li>
		<li>
		<li>
			<a href="#ip-roaming-info">
				Ip Roaming info
			</a>
		</li>
		<% if @network.network_rows.where(network_section_id: 57).first %>
		<li>
			<a href="#lteinfosection">
				Lte section
			</a>
		</li>
		<% end %>
	</ul>
</div>