<h1>Changed Section Overview</h1>
<table class="table-responsive table-striped networks sortable">
	<thead style="white-space: nowrap;">
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Tadig</th>
			<th>message</th>
			<th>File</th>
			<th>Effective date of change</th>
			<th>Snapshot</th>
		</tr>
	</thead>
	<tbody>
		<% @network_diffs.each do |diff| %>
		
		<tr class="network">
			<td>
				<div class="green_dot">
					
				</div>
				<%= diff.created_at %>
			</td>
			<td>
				<%= link_to diff.network do %><%= diff.network.try(:display_name) %><% end %>
			</td>
			<td>
				<%= diff.network.try(:tadig_code) %>
			</td>
			<!-- Removing some hard coded error messages done in early phase -->
			<td>
				<%= diff.message.sub('does not match latest import', '') %>
			</td>
			<td>
				<% case diff.network.try(:import).try(:file_type) %>
				<% when 'xml' %>
				<%= link_to network_read_xml_path(diff.network) do %>
				<i class='fa fa-file-code-o'></i>
				<% end %>
				<% when 'xlsx' %>
				<%= link_to network_read_excel_path(diff.network) do %>
				<i class="fa fa-file-excel-o"></i>
				<% end %>
				<% end %>
			</td>
			<td>
			<% if diff.section_id == 0 %>
				<% if diff.network  %>
				<%= diff.network.routing["effective_date_of_change"] %>
				<% end %>
			<% else %>
				<%= NetworkRow.where(network_section_id: diff.section_id, network_id: diff.network_id).last
							.try(:effective_date_of_change) %>
			<% end %>
			</td>
			<td>
			<% if diff.snapshot %>
				<%= link_to(truncate(diff.snapshot.strip, length: 60), show_diff_snapshot_path(diff.id))  %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
