<script>
  $(function() {
    $.get("get-rest-of-networks", function(html) {
      $("#networks-index-table tbody").append(html);  
      var resort = true;
      $("table").trigger("update", [resort]);
    });
  });
</script>
<h1>Networks <%= link_to 'New Network', new_network_path, class: "btn btn-default new-button" %></h1>
<table class="table-responsive table-striped" id="networks-index-table">
  <thead style="white-space: nowrap;">
    <tr>
      <th>Organisation</th>
      <th>Org id</th>
      <th>Display name</th>
      <th>Country</th>
      <th>Network name</th>
      <th>MCC</th>
      <th>MNC</th>
      <th>CC</th>
      <th>NC</th>
      <th>File type</th>
      <th>Filedate</th>
      <th>Com.</th>
      <th>Tadig</th>
      <% if current_user.has_role? :superadmin %>
        <th>Rosi ID</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
   <% cache([@networks, @caching_profile], public: :true) do %>
   <% @networks.each do |network| %>
   <% @current = network %>
   <% @previous = nil unless @previous %>
   <tr style="cursor: pointer" class="network-row <% if @previous.try(:organisation_id) == network.organisation_id %>indent<% end %>" id="<%= network.id %>">
    <td class="edit" data-type-name="organisation_name"><div class="name"><%= network.organisation.try(:name) %></div>
    </td>
    <td class="edit" data-type-name="organisation_id">
      <%= network.organisation_id %>
    </td>
    <td class="edit" data-type-name="display_name"><%= network.try(:display_name) %></td>
    <td class="edit" data-type-name="country_name"><%= network.country.try(:name) %></td>
    <td class="edit" data-type-name="network_name"><%= network.try(:network_name) %></td>
    <td class="edit" data-type-name="e212_mcc"><%= network.routing["e212_mcc"] if network.routing %></td>
    <td class="edit" data-type-name="e212_mnc"><%= network.routing["e212_mnc"] if network.routing %></td>
    <td class="edit" data-type-name="country_code"><%= get_country_code(network) %></td>
    <td class="edit" data-type-name="e214_nc">
      <div class="e214_nc">
        <%= network.routing["e214_nc"] if network.routing %>
      </div>
    </td>
    <td class="edit" data-type-name="file_type"><%= network.try(:import).try(:file_type) %></td>
    <td class="edit" data-type-name="file_creation_date"><%= network.try(:xml_creation_date) %></td>
    <td class="comment" data-network-id="<%= network.id %>" style="text-align: center;" data-toggle="modal" data-target="#modal_show_comment">
      <% if network.comment %>
      <i class="fa fa-comment comment" data-network-id="<%= network.id %>" aria-hidden="true"></i>
      <% else %>
      <i class="fa fa-comment-o comment" data-network-id="<%= network.id %>" aria-hidden="true"></i>
      <% end %>
    </td>
    <td class="edit" data-type-name="tadig"><%= network.try(:tadig_code) %></td>
    <% if current_user.has_role? :superadmin %>
      <td class="edit" data-type-name="rosi_id"><%= network.try(:rosi_id) %></td>
    <% end %>
    <% if current_user.has_role? :superadmin %>
    <td class="delete"><%= link_to network, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" do %>
      <i class="fa fa-times delete"></i>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% @previous = @current %>
  <% end %>
  <% end %>
</tbody>
</table>
<br>