<!-- //// Network-sections below this point -->
<!-- import network sections -->
<% cache(@network_sections.first.try(:network_rows), public: :true) do %>
<% @network_sections.each_with_index do |section, index| %>
<% 
next if section.invisible
  #check if there is a visible parent
  parent_check = NetworkSection.where("id = ? AND is_parent_section = ?",section.parent_id, true).first %>  
  <% if parent_check %> 
    <!-- TODO :: Convert to ajax -->
    <%= render 'render_with_parent', section: section %>
    <!-- /TODO :: Convert to ajax -->
    <% @network_sections.to_a.delete_if {|s| s.parent_id == parent_check.id} %>
    <% next %>
  <% end %>

  
  <h3 class="section-title" id="<%= section.name.parameterize %>">
    <%= section.name %>
  </h3>
  <br/>
  <!-- New section row -->
  <div class="new-section-row" id="<%= section.id %>">
    <i class="fa fa-plus-square"></i>
  </div>
  <!-- New section row -->
  <% if section.network_rows.first.effective_date_of_change %>
  <div class="col-md-12 row">
    Effective date of change: <strong><%= section.network_rows.first.effective_date_of_change %></strong>
  </div>
  <% end %>
  <% if section.collapsed %>
  <div class="collaps">
    <div data-section-id=<%= section.id %> class="show-collapsed">
      Show <i class="fa fa-plus-square"></i>
    </div>
    <div data-section-id=<%= section.id %> class="hide-collapsed">
      Hide <i class="fa fa-minus-square"></i>
    </div>
  </div>
  <% end %>
  <table id="table_<%= section.id %>" class="table table-striped
    <% if section.collapsed %>collapsed<% end %>
    <% if section.sortable && section.network_rows.where(network_id: @network.id).count > 1 %>sortable<% end %>">
    <% if section.multi_line %>
    <thead>
      <!-- Fields -->
      <!-- Custom fields -->
      <% if section.network_section_fields.first %>
      <tr>
        <% section.network_section_fields.each do |custom_field| %>
        <td>
          <strong>
            <%= custom_field.name %>
          </strong>
        </td>
        <% end %>
      </tr>
      <!-- /Custom fields -->
      <% else %>
      <tr>
        <% section.network_rows.first.data.each do |test| %>
        <td>
          <strong>
            <%= test[0].humanize %>
          </strong>
        </td>
        <% end %>
      </tr>
      <!-- Dummy row for insert -->
      <tr class="dummy-row" id="dummy_<%= section.id %>">
        <% section.network_rows.first.data.each do |test| %>
        <td>
          <input/>
        </td>
        <% end %>
      </tr>
      <!-- /Dummy row for insert -->
    </thead>
    <% end %>
    <% end %>
    <!-- /Fields -->

    <!-- Data begins here -->
    <tbody>
      <% section.network_rows.each do |network| %>
      <% if section.multi_line %>
      <tr>
        <% end %>

        <!-- Custom fields -->
        <% if section.network_section_fields.first %>
        <tr>
          <% section.network_section_fields.each do |custom_field| %>
          <td>
            <%= network.data["#{custom_field.name.tr(' ', '_').downcase}"] %>
          </td>
          <% end %>
        </tr>
        <% else %>
        <!-- /Custom fields -->

        <% network.data.each do |data| %>

        <% if data[1].nil? %>
        <% next %>
        <% end %>

        <% unless section.multi_line %>
        <tr class="dummy-row" id="dummy_<%= section.id %>">
          <td>
            <select>
              <% section.network_section_fields.each do |field| %>
              <option value
              "<%= field.id %>"><%= field.name %></option>
              <% end %>
            </select>
          </td>
          <td><input/></td>
        </tr>
        <tr>
          <td>
            <strong><%= data[0].humanize %></strong>
          </td>
          <% end %>

          <td class="edit edit-hstore-row" data-row-id="<%= network.id %>" data-row-key="<%= data[0] %>">
            <%= data[1] %>
          </td>
          <% unless section.multi_line %>
        </td>
        <% end %>
        <% end %>
        <% if section.multi_line %>
      </td>
      <% end %>
    </tr>
    <div>
      <!-- Check for children -->
      <% nw_children = NetworkRow.where(network_row_id: network.id).all %>
      <% unless nw_children.blank? %>
      <% @section_done = section.id %>
      <% @section_done = "" unless @section_done %>
    </table>
    <%= render 'child_row', nw_children: nw_children %>
    <% next unless section.network_rows.first.data.count %>
    <% if @section_done == section.id %>
    <% @section_done = "" %>
    <% end %>
      <table class="sortable extra-parent table">
        <% if section.multi_line %>
        <thead>
          <!-- Fields -->
          <!-- Custom fields -->
          <% if section.network_section_fields.first %>

          <tr>
            <% section.network_section_fields.each do |custom_field| %>
            <td>
              <strong>
                <%= custom_field.name %>
              </strong>
            </td>
            <% end %>
          </tr>
          <!-- /Custom fields -->
          <% else %>
          <tr>
            <% section.network_rows.first.data.each do |test| %>
            <td>
              <strong>
                <%= test[0].humanize %>
              </strong>
            </td>
            <% end %>
          </tr>
          <!-- Dummy row for insert -->
          <tr class="dummy-row" id="dummy_<%= section.id %>">
            <% section.network_rows.first.data.each do |test| %>
            <td>
              <input/>
            </td>
            <% end %>
          </tr>
          <!-- /Dummy row for insert -->
        </thead>
        <% end %>
        <% end %>
        <tbody>
          <% end %>
          <!-- /Check for children -->
        </div>
        <% end %>
        <% end %>
      </tbody>
    </table>
    
    <% end %>
    <% end %>