<!-- Line ranges -->
<% unless @network.try(:network_line_ranges).blank? %>
<h3 class="section-title">
  Line ranges <i class="fa fa-plus-square" data-toggle="modal" data-target="#linerangeModal"></i>
</h3>
<div class="collaps">
  <div data-section-id="line_ranges" class="show-collapsed">
    Show <i class="fa fa-plus-square"></i>
  </div>
  <div data-section-id="line_ranges" class="hide-collapsed">
    Hide <i class="fa fa-minus-square"></i>
  </div>
</div>
<table class="table table-striped collapsed" id="table_line_ranges">
  <thead>
    <tr>
      <td>Start</td>
      <td>Stop</td>
      <td></td>
    </tr>

  </thead>
  <tbody>
    <% @network.network_line_ranges.where("removed is NOT true").order("range_start").each do |range| %>
    <tr>
      <td class="edit edit-line-range" data-type="range_start" data-id="<%= range.id %>" id="range_start_<%= range.id %>">
        <%= range.range_start %>
      </td>
      <td class="edit edit-line-range" data-type="range_stop" data-id="<%= range.id %>" id="range_stop_<%= range.id %>">
        <%= range.range_stop %>
      </td>
      <td class="delete"><%= link_to "delete", delete_line_range_path(range.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<!-- /Line ranges -->

<!-- Sms hub line ranges -->
<% if current_user.has_role? :superadmin %>
<% unless @network.try(:sms_hub_line_ranges).blank? %>
<h3 class="section-title">
  SMS hub line ranges
</h3>
<div class="collaps">
    <div data-section-id="sms_hub_ranges" class="show-collapsed">
      Show <i class="fa fa-plus-square"></i>
    </div>
    <div data-section-id="sms_hub_ranges" class="hide-collapsed">
      Hide <i class="fa fa-minus-square"></i>
    </div>
  </div>
<table class="table table-striped collapsed sortable" id="table_sms_hub_ranges">
  <thead>
    <tr>
      <td>Start</td>
      <td></td>
    </tr>

  </thead>
  <tbody>
    <% @network.sms_hub_line_ranges.order("range_start").each do |range| %>
    <tr>
      <td class="edit edit-line-range" data-type="range_start" data-sms-hub="true" data-id="<%= range.id %>" id="range_start_<%= range.id %>" <% if range.removed %>style="color: red"<% end %>>
        <%= range.range_start %>  
        <% if range.message %>
        <span style="color: #434343; font-size: 12px;">( <%= range.message %> )</span>
        <% end %>
      </td>
      <td class="delete">
        <%= link_to "delete", delete_line_range_path(range.id, sms_hub: true), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>
<!-- /Sms hub line ranges -->