<style>
	<%= Diffy::CSS %>

</style>
<%= render 'layouts/back_navigation' %>
<h1>Snapshot of diff</h1>
<% v1 = @diff.snapshot.split('=================================================').first.strip %>
<% v2 = @diff.snapshot.split('=================================================').second.strip %>
<hr/>
<h4>Diffrencies</h4>
<% if v1.blank? %>
Section not found in previous version
<% end %>
<%= Diffy::Diff.new(v1,v2, :context => 100, format: :html, :include_plus_and_minus_in_html => true).to_s(:html).html_safe %>



