<%= render 'layouts/back_navigation' %>

<h1>Network</h1>
<!-- Show link to pdf and xml used in import -->
<span class="document-links">
  <% if @network.import.try(:file_type) == "xlsx" %>
  <%= link_to network_read_excel_path(@network), data: {turbolinks: false} do %>
  <i class="fa fa-file-excel-o"></i>
  <% end %>
  <% else %>
  <%= link_to network_read_xml_path(@network), data: {turbolinks: false} do %>
  <i class="fa fa-file-code-o"></i>
  <% end %>
  <% end %>
  <% if @pdfs %>
    <% @pdfs.each do |pdf| %>
      <%= link_to read_pdf_path(pdf_id: pdf.pdf_id), data: {turbolinks: false} do %>
        <i class="fa fa-file-pdf-o"></i>
      <% end %>
    <% end %>
  <% end %>
  <% if @pdf %>
    <%= link_to read_pdf_path(import: @pdf), data: {turbolinks: false} do %>
    <i class="fa fa-file-pdf-o"></i>
    <% end %>
  <% end %>
  <%= link_to import_files_path(network_id: @network.id) do %>
  <i class="fa fa-list" style="margin-left :10px;"></i>
  <% end %>
</span>

<!-- /Show link to pdf and xml used in import -->
<%= link_to "Activity log", activities_path(network_id: @network.id), class: "network_versions btn btn-default" %>

<!-- Other network link -->
<div class="other-networks">
  <%= link_to @network do %>
  <span class="this-network">
    <%= @network.tadig_code  %>
  </span>
  <% end %>
  <% @other_networks.each do |other_network| %>
  <%= link_to other_network do %>
  <span class="other-network">
    <%= other_network.tadig_code  %>
  </span>
  <% end %>
  <% end %>
</div>
<!-- /Other networks link -->
<% cache(@network, public: :true) do %>
<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        Display name
      </td>
      <td class="edit edit-network">
        <%= @network.display_name %>
      </td>
    </tr>
    <tr>
      <td>
        Organisation name
      </td>
      <td class="edit edit-network">
        <%= @network.organisation.try(:name) %>
      </td>
    </tr>
    <tr>
      <td>
        XML creation date
      </td>
      <td class="edit edit-network">
        <%= @network.xml_creation_date %>
      </td>
      <tr/>
      <tr>
        <td>
          XML creation time
        </td>
        <td class="edit edit-network">
          <%= @network.xml_creation_time.try(:to_s, :time) %>
        </td>
      </tr>
      <tr>
        <td>
          Tadig ge schema version
        </td>
        <td class="edit edit-network">
          <%= @network.tadig_gen_schema_version %>
        </td>
      </tr>
      <tr>
        <td>
          RAEX ir21 schema version
        </td>
        <td class="edit edit-network">
          <%= @network.raex_ir21_schema_version %>
        </td>
      </tr>
      <tr>
        <td>
          Tadig code
        </td>
        <td class="edit edit-network">
          <%= @network.tadig_code %>
        </td>
      </tr>
      <tr>
        <td>
          Network name
        </td>
        <td class="edit edit-network">
          <%= @network.network_name %>
        </td>
      </tr>
      <tr>
        <td>
          Terrestrial
        </td>
        <td class="edit edit-network">
          <%= @network.terrestrial %>
        </td>
      </tr>
      <tr class="no-delete">
        <td>
          Country initials and mnn
        </td>
        <td>
          <%= @network.country.try(:name) %>
        </td>
      </tr>
      <tr>
        <td>Abbreviated mnn</td>
        <td class="edit edit-network"><%= @network.abbreviated_mnn %></td>
      </tr>
      <tr>
        <td>Network color code</td>
        <td><%= @network.network_color_code %></td>
      </tr>
      <tr>
        <td>
          Source:
        </td>
        <td class="edit edit-network">
          <%= @network.source %>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- ROUTING -->
  <% if @network.routing %>
  <h3 id="routing">Routing</h3>
  Effective date of change: <strong><%= @network.routing["effective_date_of_change"] %></strong>
  <br/>
  <!-- E212 -->
  <div style="border: 1px dotted #BBBBBB; padding: 10px;">
    <table class="table table-striped">
      <tbody>
        <thead>
          <h4>E.212 Number series</h4>
        </thead>
        <tr>
          <td>
            Mobile Country Code (MCC)
          </td>
          <td class="edit edit-hstore" data-row-key="e212_mcc">
            <%= @network.routing["e212_mcc"] %>
          </td>
        </tr>
        <tr>
          <td>
            Mobile Network Code (MNC)
          </td>
          <td class="edit edit-hstore" data-row-key="e212_mnc">
            <%= @network.routing["e212_mnc"] %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /E212 -->

    <!-- E214 -->
    <table class="table table-striped">
      <tbody>
        <thead>
          <h4>E. 214 Mobile Global Title (MGT)</h4>
        </thead>
        <tr>
          <td>
            Country Code of MGT (CC)
          </td>
          <td class="edit edit-hstore" data-row-key="e214_cc">
            <%= @network.routing["e214_cc"] %>
          </td>
        </tr>
        <tr>
          <td>
            Mobile Network Code (NC)
          </td>
          <td class="edit edit-hstore" data-row-key="e214_nc">
            <%= @network.routing["e214_nc"] %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /E214 -->

    <!-- Number portability -->
    <table class="table table-striped">
      <tbody>
        <thead>
          <h4>Number portability</h4>
        </thead>
        <tr>
          <td>Does number portability apply?</td>
          <td>
            <% if @network.routing["number_portability"] == "true" %>
            Yes
            <% else %>
            No
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /Number portability -->
    
    <!-- Gt number ranges -->
    <% if @gt_number_ranges %>
    <h4>GT number ranges</h4>
    <div class="collaps">
      <div data-section-id="gt_number_ranges" class="show-collapsed">
        Show <i class="fa fa-plus-square"></i>
      </div>
      <div data-section-id="gt_number_ranges" class="hide-collapsed">
        Hide <i class="fa fa-minus-square"></i>
      </div>
    </div>
    <table class="table table-striped collapsed sortable" id="table_gt_number_ranges">
      <tbody>
        <thead>
          <tr>
            <td>cc</td>
            <td>ndc</td>
            <td>range start</td>
            <td>range stop</td>
          </tr>
        </thead>

        <% @gt_number_ranges.each do |gt| %>
        <tr>
          <td><%= gt.data['GT - cc'] %></td>
          <td><%= gt.data['GT - ndc'] %></td>
          <td><%= gt.data['GT - range_start'] %></td>
          <td><%= gt.data['GT - range_stop'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <!-- /Gt number ranges -->

    <!-- Msrn number ranges -->
    <% if @msrn_number_ranges %>
    <table class="table table-striped collapsed sortable" id="table_msrn_number_ranges" >
      <tbody>
        <h4>MSRN number ranges</h4>
        <div class="collaps">
          <div data-section-id="msrn_number_ranges" class="show-collapsed">
            Show <i class="fa fa-plus-square"></i>
          </div>
          <div data-section-id="msrn_number_ranges" class="hide-collapsed">
            Hide <i class="fa fa-minus-square"></i>
          </div>
        </div>
        <thead>
          <tr>
            <td>cc</td>
            <td>ndc</td>
            <td>range start</td>
            <td>range stop</td>
          </tr>
        </thead>
        <% @msrn_number_ranges.each do |gt| %>
        <tr>
          <td><%= gt.data['MSRN - cc'] %></td>
          <td><%= gt.data['MSRN - ndc'] %></td>
          <td><%= gt.data['MSRN - range_start'] %></td>
          <td><%= gt.data['MSRN - range_stop'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <!-- /Msrn number ranges -->

    <!-- Msisdn number ranges -->
    <% unless @msisdn_number_ranges.blank? %>
    <table class="table table-striped collapsed sortable" id="table_msisdn_number_ranges">
      <tbody>
        <h4>MSISDN number ranges</h4>
        <div class="collaps">
          <div data-section-id="msisdn_number_ranges" class="show-collapsed">
            Show <i class="fa fa-plus-square"></i>
          </div>
          <div data-section-id="msisdn_number_ranges" class="hide-collapsed">
            Hide <i class="fa fa-minus-square"></i>
          </div>
        </div>
        <thead>
          <tr>
            <td>cc</td>
            <td>ndc</td>
            <td>range start</td>
            <td>range stop</td>
          </tr>
        </thead>
        <% @msisdn_number_ranges.each do |gt| %>
        <tr>
          <td><%= gt.data['MSISDN - cc'] %></td>
          <td><%= gt.data['MSISDN - ndc'] %></td>
          <td><%= gt.data['MSISDN - range_start'] %></td>
          <td><%= gt.data['MSISDN - range_stop'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <!-- /Msisdn number ranges -->

    <% end %>
  </div>
</tr>
<br/>
<!-- /ROUTING -->
<!-- Sections ajax loading -->
<div id="network-sections" class="ajax">
  <i class="fa fa-spin fa-cog"></i> <span>Loading network sections</span>
</div>
<!-- /Sections ajax loading -->

<!-- Line range - ajax loading -->
<div id="line-ranges" class="ajax">
  <i class="fa fa-spin fa-cog"></i> <span>Loading line Ranges</span>
</div>
<!-- /Line rang ajax loading -->

<div id="code-ranges">
  <!-- Code ranges -->
  <h3>Code ranges</h3>
  <div class="versions">
    <% @network.code_range_versions.order('created_at desc').each_with_index do |code_version, index| %>
    <div <% if params[:code_version].nil? && index == 0 %>class="active"<% else %>
     <% unless params[:code_version] == code_version.id %>class="inactive"<% else %>
     class="active2"
     <% end %>
     <% end %>>
     <%= code_version.created_at.to_date %></div>
     <% end %>
   </div>
   <br/>
   <div class="collaps">
    <div data-section-id="code_ranges" class="show-collapsed">
      Show <i class="fa fa-plus-square"></i>
    </div>
    <div data-section-id="code_ranges" class="hide-collapsed">
      Hide <i class="fa fa-minus-square"></i>
    </div>
  </div>
  <table class="table table-striped collapsed sortable" id="table_code_ranges">
    <thead>
      <tr>
        <td>Start</td>
      </tr>

    </thead>
    <tbody>

      <% unless @network.code_range_versions.blank? %>
        <% @network.code_range_versions.last.code_ranges.order('range_start').each do |code_range| %>
        <tr>
          <td <% if code_range.removed %>style="color: red"<% end %>>
            <%= code_range.range_start %> <% if code_range.removed %> <% end %> <%= code_range.message %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<!-- /Code ranges -->
</div>

<!-- New section -->
<div class="new-section-container"></div>
<!-- /New section -->

<!-- Add extra fields 
<div class="add-section">
  <i class="fa fa-plus-square" data-toggle="modal" data-target="#myModal"></i>

  <div class="text">NEW SECTION</div>
</div>
<!-- /Add extra fields -->

<!-- Modal to select extra section 
<%  #render 'sections_modal' %>
<!-- /Modal to select extra section -->

<!-- Modal to add new line range -->
<%= render 'new_line_range_modal' %>
<!-- /Modal to add new line range -->
<!-- Spy navigation -->
<%= render 'spy_navigation' %>
<!-- /Spy navigation -->
<% end %>

