<h1>Organisations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.id %></td>
        <td><%= organisation.name %></td>
        <td><%= organisation.country.try(:name) %></td> 
        <td style="float: right;">
          <%= link_to edit_organisation_path(organisation) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <i class="fa fa-plus-square-o"></i>
          <i class="fa fa-times"></i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Organisation', new_organisation_path, class: "btn btn-default" %>
