<% line_ranges.each do |range| %>
<tr>
  <td class="smshub-name">
    <%= range.sms_hub.try(:network).try(:organisation).try(:name) %>
  </td>
  <td class="range-start" <% if range.removed == true %> style="color: #EB274B" <% end %>>
    <%= range.range_start %>
  </td>
  <td class="display-name">
    <%= range.sms_hub.imsi %>
  </td>
  <td>
    <% if range.message %>
    <%= range.message.gsub('overlapping', 'overlapped by').gsub('of', '').gsub('ranges', 'range ID') %>
    <% end %>
  </td>
  <td><%= range.sms_hub.imported_from %></td>
</tr>
<% end %>
