<h1>Import status - hermes</h1>

<h4><%= @hermes_unmatched.count %> unmatched</h4>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>HERMES</th>
        <th>IR21</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @hermes_unmatched) do |hermes_operator| %>
      <td>
        Id: <%= hermes_operator.data['sms_number_administration_id'] %><br/>
        Country: <%= hermes_operator.data['country'] %><br/>
        Carrier: <%= hermes_operator.data['carrier'] %><br/>
        
        <%
        if hermes_operator.data['imsi_range'].include?('-')
          imsi_range = hermes_operator.data['imsi_range'].split('-')
        else
          imsi_range = hermes_operator.data['imsi_range'].split(' ')
        end
        %>
        <% if hermes_operator.network %>
        <% unless imsi_range[0] ==  hermes_operator.network.routing['e212_mcc'] %>
          <div style="background-color: yellow">
        <% end end %>
        
        MCC: <%= imsi_range[0] %><br/>

        <% if hermes_operator.network %>
        <% unless imsi_range[0] ==  hermes_operator.network.routing['e212_mcc']  %>
          </div>
        <% end end %>
        
        <% if hermes_operator.network %>
        <% unless imsi_range[1] ==  hermes_operator.network.routing['e212_mnc'] %>
          <div style="background-color: yellow">
        <% end end %>
        MNC: <%= imsi_range[1] %><br/>
        
        <% if hermes_operator.network %>
        <% unless imsi_range[1] ==  hermes_operator.network.routing['e212_mnc'] %>
          </div>
        <% end end %>
      </td>
      <td style="max-width: 200px;">
      <div class="imsi">
        <% if hermes_operator.network %>
        ROSI_ID: <%= hermes_operator.try(:network).try(:rosi_id) %><br/>
        Carrier: <%= hermes_operator.try(:network).try(:display_name) %><br/>
        MCC: <%= hermes_operator.network.routing['e212_mcc'] %><br/>
        MNC: <%= hermes_operator.network.routing['e212_mnc'] %><br/>
        <% end %>
      </div>
      </td>
      <td><%= link_to 'Destroy', hermes_operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>