<h1>Import status</h1>

<h4>Hermes import</h4>
<strong><%= @hermes_imports.count %></strong> rows and <strong><%= @hermes_matches.count %></strong> matches, showing matches on top
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>HERMES</th>
        <th>IR21</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @hermes_imports) do |hermes_operator| %>
      <td>
        Id: <%= hermes_operator.data['sms_number_administration_id'] %><br/>
        Country: <%= hermes_operator.data['country'] %><br/>
        Carrier: <%= hermes_operator.data['carrier'] %><br/>
        
        <%
        if hermes_operator.data['imsi_range'].include?('-')
          imsi_range = hermes_operator.data['imsi_range'].split('-')
        else
          imsi_range = hermes_operator.data['imsi_range'].split(' ')
        end
        %>
        <% if hermes_operator.network %>
        <% unless imsi_range[0] ==  hermes_operator.network.routing['e212_mcc'] %>
          <div style="background-color: yellow">
        <% end end %>
        
        MCC: <%= imsi_range[0] %><br/>

        <% if hermes_operator.network %>
        <% unless imsi_range[0] ==  hermes_operator.network.routing['e212_mcc']  %>
          </div>
        <% end end %>
        
        <% if hermes_operator.network %>
        <% unless imsi_range[1] ==  hermes_operator.network.routing['e212_mnc'] %>
          <div style="background-color: yellow">
        <% end end %>
        MNC: <%= imsi_range[1] %><br/>
        
        <% if hermes_operator.network %>
        <% unless imsi_range[1] ==  hermes_operator.network.routing['e212_mnc'] %>
          </div>
        <% end end %>
      </td>
      <td style="max-width: 200px;">
      <div class="imsi">
        <% if hermes_operator.network %>
        ROSI_ID: <%= hermes_operator.try(:network).try(:rosi_id) %><br/>
        Carrier: <%= hermes_operator.try(:network).try(:display_name) %><br/>
        MCC: <%= hermes_operator.network.routing['e212_mcc'] %><br/>
        MNC: <%= hermes_operator.network.routing['e212_mnc'] %><br/>
        <% end %>
      </div>
      </td>
      <td><%= link_to 'Destroy', hermes_operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<h4>Election import</h4>
<h4>Rosi import</h4>
<strong><%= @rosi_total.count %></strong> rows and <strong><%= @rosi_matches.count %></strong> matches, showing matches on top
<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Network</th>
        <th>Rosi id</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @rosi_total) do |rosi_match| %>
      <td><%= rosi_match.network_id %> <% if rosi_match.network_id %>(<%= rosi_match.try(:display_name) %>)<% end %></td>
      <td style="max-width: 200px;">
      <div class="imsi">
        <%= rosi_match.rosi_id %>
      </div>  
      </td>
      <% end %>
    </tbody>
  </table>