<script>
  $(function(){
    $('.tab').click(function(e){
      e.preventDefault();
      $('.tab').removeClass('active')
      $(this).addClass('active');
      $('.content').hide();
    });
    $('.sms-hub').click(function(){
      $('.sms-hub-content').show();
    });
    $('.ir21').click(function(){
      $('.ir21-content').show();
    })
  })
</script>
<% cache(@organisations, public: :true) do %>
<br/><br/>

  <div class="active btn btn-default">
    IR21 line ranges
  </div>

  <%= link_to line_range_overview_export_path do %>
    <div class="btn btn-default">Imported line ranges (sms hub)</div>
  <% end %>



<div class="ir21-content content">
  <h1>Line range overview (IR21)</h1>
  <br/><br/>
  <table class="table table-striped table-bordered table-hover sortable">
    <thead>
      <tr>
        <th>Organisation</th>
        <th>Line range ID</th>
        <th>Start Range</th>
        <th>Stop range</th>
        <th>Network</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @organisations.each do |organisation| %>
      <% network_ids = Network.where(organisation_id: organisation.id).pluck(:id).to_a %>
      <% line_ranges = NetworkLineRange.order("range_start").joins(:network).where("network_id IN(?)", network_ids).take(20)  %>
      <% line_ranges.each do |range| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= range.id %></td>
        <td <% if range.removed == true %> style="color: #EB274B" <% end %>>
          <%= range.range_start %>
        </td>
        <td <% if range.removed == true %> style="color: #EB274B" <% end %>>
          <%= range.range_stop %>
        </td>
        <td><%= range.network.display_name %></td>
        <td>
          <% if range.message %>
          <%= range.message.gsub('overlapping', 'overlapped by').gsub('of', '').gsub('ranges', 'range ID') %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>