<script>
  $(function(){
    $('.tab').click(function(e){
      e.preventDefault();
      $('.tab').removeClass('active')
      $(this).addClass('active');
      $('.content').hide();
    });
    $('.sms-hub').click(function(){
      $('.sms-hub-content').show();
    });
    $('.ir21').click(function(){
      $('.ir21-content').show();
    })
  })
</script>
<% cache(@line_ranges, public: :true) do %>
<br/><br/>
<a href="/ir21/line-range-overview-ir21">
  <div class="btn btn-default">
    IR21 line ranges
  </div>
</a>
<%= link_to line_range_overview_export_path do %>
<div class="btn btn-default">
  Imported line ranges (sms hub)
</div>
<% end %>
<div class="active btn btn-default">
  Code ranges (sms hub)
</div>


<div class="sms-hub-content content">
  <h1>Line range overview (Codes)</h1>
  <br/><br/>
  <table class="table table-striped table-bordered table-hover sortable-ajax" data-query-url= 'get-code-data/query?&page={page}&size={size}&{sortList:sort}&{filterList:filter}'>
    <thead>
      <tr>
        <th>Organisation</th>
        <th>Line range</th>
        <th>Imsi</th>
        <th>Message</th>
        <th>Imported from</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'line_range_code_partial', line_ranges: @line_ranges %>
    </tbody>
  </table>
</div>
<% end %>