<h1>Lte Mno</h1>
<table class="table table-striped table-bordered table-hover sortable">
  <thead>
    <tr>
      <th>SMS number administrationID</th>
      <th>Country</th>
      <th>Carrier</th>
      <th>MNO_IP_Range</th>
    </tr>
  </thead>
  <tbody>
    <% @lte_mno_ip.each do |ip| %>
      <tr class="lte-mno-row data-row" data-id="<%= ip.id %>">
        <td class="edit lte-mno" data-type='mno|sms_number_administration_id'>
          <%= ip.sms_number_administration_id %>
        </td>
        <td class="edit lte-mno" data-type='mno|country'>
          <%= ip.country %>
        </td>
        <td class="edit lte-mno" data-type='mno|carrier'>
          <%= ip.carrier %>
        </td>
        <td class="edit lte-mno" data-type='mno|MNO_IP_Range' style="display: block; word-break: break-all;">
          <%= ip.MNO_IP_Range %>
        </td>
        <td>
          <%= link_to delete_mno_ip_line_path(id: ip.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= link_to 'Add line', add_mno_ip_line_path, class: 'add-mno-ip-line' %>
  </tbody>
</table>

<h1>Lte sccp</h1>
<table class="table table-striped table-bordered table-hover sortable">
  <thead>
    <tr class="lte-sccp-row">
      <th>GSMRoSiSCCPprovider_ID</th>
      <th>SCCPproviderName</th>
      <th>SCCP_IP_Range</th>
      <th>Country</th>
      <th>SCCP_Hostname</th>
    </tr>
  </thead>
  <tbody>
    <% @lte_sccp_ip.each do |ip| %>
      <tr class="lte-sccp-row data-row" data-id="<%= ip.id %>">
        <td class="edit lte-sccp" data-id="<%= ip.id %>" data-type='sccp|GSMRoSiSCCPprovider_ID'><%= ip.GSMRoSiSCCPprovider_ID %></td>
        <td class="edit lte-sccp" data-id="<%= ip.id %>" data-type='sccp|SCCP_provider_Name'><%= ip.SCCP_provider_Name %></td>
        <td class="edit lte-sccp" data-id="<%= ip.id %>" data-type='sccp|SCCP_IP_Range' style="display: block; word-break: break-all;"><%= ip.SCCP_IP_Range %></td>
        <td class="edit lte-sccp" data-id="<%= ip.id %>" data-type='sccp|Country'><%= ip.Country %></td>
        <td class="edit lte-sccp" data-id="<%= ip.id %>" data-type='sccp|SCCP_Hostname'><%= ip.SCCP_Hostname %></td>
        <td>
          <%= link_to delete_sccp_ip_line_path(id: ip.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= link_to 'Add line', add_sccp_ip_line_path, class: 'add-sccp-ip-line' %>
  </tbody>
</table>