<h1>Settings</h1>
<br/><br/>
<nav>
	<div class="row">
		<div class="col-md-1" style="margin-right: 20px;">
			<%= link_to network_sections_path do %>
			<i class="fa fa-th-list"></i>
			<div class=name>SECTIONS</div>
			<% end %>
		</div>
		<div class="col-md-1" style="margin-right: 20px;">
			<%= link_to import_diff_path do %>
			<i class="fa fa-sort-amount-desc"></i>
			<div class="name">IMPORTS</div>
			<% end %>
		</div>
		<div class="col-md-1">
			<%= link_to "/api/v1/networks" do %>
			<i class="fa fa-exchange"></i>
			<div class="name" style="text-align: center;">API</div>
			<% end %>
		</div>
		<div class="col-md-1">
			<%= link_to flagged_networks_path do  %>
			<i class="fa fa-exclamation-triangle"></i>
			<div class="name">Flagged networks</div>
			<% end %>
		</div>
		<div class="col-md-1">
			<%= link_to users_path do  %>
			<i class="fa fa-user" aria-hidden="true"></i>
			<div class="name">Users</div>
			<% end %>
		</div>

		<div class="col-md-1">
			<%= link_to countries_path do %>
			<i class="fa fa-flag" aria-hidden="true"></i>
			<div class="name">Countries</div>
			<% end %>
		</div>
		<div class="col-md-1">
			<%= link_to notify_groups_path do %>
			<i class="fa fa-users" aria-hidden="true"></i>
			<div class="name">Notify groups</div>
			<% end %>
		</div>

		<div class="col-md-1">
			<%= link_to upload_sms_hub_file_path do %>
			<i class="fa fa-cloud-upload" aria-hidden="true"></i>
			<div class="name">Upload code file</div>
			<% end %>
		</div>

		<div class="col-md-1">
			<%= link_to organisations_path do %>
			<i class="fa fa-globe" aria-hidden="true"></i>
			<div class="name">Organisations</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<%= link_to line_range_overview_export_path do %>
			<i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
			<div class="name">Line range overview</div>
			<% end %>
		</div>
		<div class="col-md-1">
			<%= link_to mno_ip_overview_path do %>
			<i class="fa fa-phone-square" aria-hidden="true"></i>
			<div class="name">Lte mno/sccp overview</div>
			<% end %>
		</div>
	</div>
	
</nav>