<h1>Sms Hub data</h1>
<table class="table table-striped table-bordered table-hover sortable">
  <thead>
    <tr>
      <th>Sms hub id</th>
      <th>Sms hub name</th>
      <th>Rosi id</th>
      <th>Imsi</th>
      <th>Line ranges</th>
      <th>Matched country</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% cache(@sms_hub, public: true) do %>
    <% @sms_hub.each do |hub| %>
    <tr>
      <td><%= hub.id %></td>
      <td><%= hub.name %></td>
      <td><%= hub.network.try(:rosi_id) %></td>
      <td><%= hub.imsi %></td>
      
      <td>
        <% hub.sms_hub_line_ranges.each do |range| %>
          <div <% if range.removed %>style="color: red"<% end %>><%= range.range_start %> <%= range.range_stop %>
            <% if range.removed %>
              (<%= range.message %>)
            <% end %>
          </div>
        <% end %>
      </td>
      <td>
        <% country = Country.where(id: hub.try(:country_id)).first %>
        <% if country %>
          <%= hub.country_id %> (<%= country.try(:name) %>)
        <% end %>
      </td>
      <td>
          
      </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>