<div class="modal fade" id="add_notify_group_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add notification group</h4>
      </div>
      <div class="modal-body">
        <table class="sortable table table-striped table-bordered table-hover">
          <thead>
          <tr>
            Group
          </tr>
          </thead>
          <% if @notification_groups %>
            <% @notification_groups.each do |group| %>
            
            <tr>
              <td>
                <%= link_to group.name, add_notify_group_to_user_path(notify_group_id: group.id, user_id: @user.id ) %>    
              </td>
              <td>
                <%= link_to "Add group", add_notify_group_to_user_path(notify_group_id: group.id, user_id: @user.id ) %>
              </td>
            </tr>


            <% end %>
          <% end %>
        </table>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->