<h1>Add role to user</h1>
<div class="roles">
	<% Role.all.each do |role| %>
		<% next if @user.has_role? role.name.underscore.to_s.to_sym %>
		<div class="role">
			<%= link_to role.name, add_role_path(user_id: params[:user_id], role_id: role.id) %>
		</div>
	<% end %>
</div>
