<h1>Editing User</h1>
<br/>
<% if current_user %>
	<% if current_user.has_role? :admin %>
		<%= link_to "Delete User", @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
	<% end %>
<% end %>
<%= render 'form' %>
<hr/>
<h3>User notification </h3>
<a class="add-notify-group" data-target="#add_notify_group_modal" data-toggle="modal">Add notify group</a>
<table class="sortable table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<td>name</td>
			<td>Channel</td>
			<td></td>
		</tr>
	</thead>
	<% if @added_notify_groups %>
	<% @added_notify_groups.each do |group| %>
	<tr>
		<td>
			<%= group.name %>
		</td>
		<td>
			Mail, Web
		</td>
		<td class='delete'>
			<%= link_to delete_from_notify_group_path(user_id: @user.id, group_id: group.id), method: :delete,data: { confirm: 'Are you sure?' } do %>
			<i class="fa fa-times" aria-hidden="true"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
<%= render 'modal_notification_groups' %>
<hr/>
<h3>User notification settings</h3>
<% @notify_fields.each do |notify_field| %>
	<div>
		<label><input type="checkbox" <% unless notify_field.notify_field_users.blank? %> checked="checked" <% end %> class="notify-checkbox" value="<%= notify_field.id %>"><%= notify_field.name %></label>
	</div>
<% end %>

<h3>User View</h3>
<% @views.each do |view| %>
	<div>
		<label><input type="checkbox" <% if @user.view_id == view.id %> checked="checked" <% end %> class="view-checkbox" value="<%= view.id %>"><%= view.name %></label>
	</div>
<% end %>
<br/><br/>
