<h1>Users</h1>
<%= link_to 'New User', new_user_path, class: "btn btn-default" %>
<br/><br/>
<table class="table-responsive table-striped networks sortable">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to edit_user_path(user) do %>
          <%= user.first_name %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user) do %>
          <%= user.last_name %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user) do %>
          <%= user.email %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

