<%= form_for(@network_section, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
<% if @network_section.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@network_section.errors.count, "error") %> prohibited this network_section from being saved:</h4>

  <ul>
    <% @network_section.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<!-- Name -->
<div class="form-group">
  <%= f.label :name, :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>
<!-- /Name -->

<!-- Field Name -->
<div class="form-group">
  <%= f.label :field_name, :class => "col-sm-1 control-label", :readonly => true %>
  <div class="col-sm-10">
    <%= f.text_field :field_name, :class => "form-control" %>
  </div>
</div>
<!-- /Field Name -->

<!-- Multiline -->
<div class="form-group">
  <%= f.label :multi_line, :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.select :multi_line, [["true", true], ["false", false]], :class => "form-control"%>
  </div>
</div>  
<!-- /Multiline -->

<!-- is_parent_section -->
<div class="form-group">
  <%= f.label :is_parent_section, :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.select :is_parent_section, [["true", true], ["false", false]], :class => "form-control"%>
  </div>
</div>  
<!-- /is_parent_section -->

<!-- Collaps -->
<div class="form-group">
  <%= f.label "Collaps", :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.select :collapsed, [["Not collapsed", false], ["Collapsed", true]], :class => "form-control"%>
  </div>
</div>
<!-- Collaps -->

<!-- XML field -->
<div class="form-group">
  <%= f.label :xml_field, :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :xml_field, :class => "form-control", placeholder: "Name of xml field" %>
  </div>
</div>
<!-- /XML field -->

<!-- Field parents -->
<div class="form-group">
<%= f.label "Section parent", :class => "col-sm-1 control-label" %>
  <div class="col-sm-10" style="margin-top: 10px;">
    <%= f.select :parent_id, @network_parent_fields.collect {|c| [c.name, c.id]}, :class => "form-control", include_blank: true %>
  </div>
</div>
<!-- /Field parents -->

<!-- Sorting -->
<div class="form-group">
  <%= f.label :sort_order, :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :sort_order, :class => "form-control", placeholder: "sort order" %>
  </div>
</div>
<!-- /Sorting -->

<!-- sortable -->
<div class="form-group">
  <%= f.label "Sorting on top?", :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.select :sortable, [["No", false], ["Yes", true]], :class => "form-control"%>
  </div>
</div>
<!-- sortable -->
<div class="form-group">
  <%= f.label "Invisible?", :class => "col-sm-1 control-label" %>
  <div class="col-sm-10">
    <%= f.select :invisible, [["No", false], ["Yes", true]], :class => "form-control"%>
  </div>
</div>
<!-- Invisible -->

<!-- /Invisible -->

<!-- Section fields -->
<div class="form-group">
  <!-- New field button --> 
  <div class="new-field col-sm-offset-1">
    <h3>Section fields</h3>
    <i class="fa fa-plus-square" data-toggle="modal" data-target="#new-section-modal"></i>
  </div>
  <div class="clearfix"></div>
  
  <!-- /New field button --> 
  <%= f.label :fields, :class => "col-sm-1 control-label" %>
  <div class="section-fields col-sm-4">
    <% @network_section.network_section_fields.each do |field| %>
    <div class="section-field" id="<%= field.id %>" data-name="<%= field.name %>">
      <%= field.name %>
      <div class="edit-icon">
        <i class="fa fa-pencil-square"></i>
      </div>
    </div>
    <% end %>
    <% if @network_section.network_section_fields.blank? %>
      <div class="no-fields">No fields added yet..</div>
    <% end %>
  </div>
</div>
<!-- Section fields -->

<br/><br/>
<div class="form-group">
  <div class="col-sm-offset-1 col-sm-10">
    <%= f.submit "Update section", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
