<div class="page-header">
  <%= link_to network_sections_path, :class => 'btn btn-default' do %>
    Back
  <% end %>
  <%= link_to @network_section, :class => 'btn btn-primary' do %>
    Show
  <% end %>
  <h1>Editing network_section</h1>
</div>

<%= render 'form' %>
<%= render 'add_section_field_modal' %>
