<div class="page-header">
  <%= link_to new_network_section_path, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Network section
  <% end %>
  <h1>Listing network_sections</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% NetworkSection.walk_tree do |network_section, level| %>
        <% space = level * 20 %>
        <tr onclick="Turbolinks.visit('<%= edit_network_section_path(network_section)%>')">
          <td>
            <div style="margin-left: <%= space %>px">
            <% if level == 0 %>
              <strong>
            <% end %>
              <%= network_section.name %>
            <% if level == 0 %>
              </strong>
            <% end %>
            </div>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
