<div class="page-header">
  <%= link_to network_sections_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New network_section</h1>
</div>

<%= render 'form' %>
