<div class="page-header">
  <%= link_to network_sections_path, :class => 'btn btn-default' do %>
    Back
  <% end %>
  <%= link_to edit_network_section_path(@network_section), :class => 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show network_section</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @network_section.name %></dd>
  <dt>Fields:</dt>
  <dd>
    <% @network_section.network_section_fields.each do |field| %>
    <div class="section-field" id="<%= field.id %>" data-name="<%= field.name %>">
      <%= field.name %>
      <div class="edit-icon">
        <i class="fa fa-pencil-square"></i>
      </div>
    </div>
    <% end %>
    <% if @network_section.network_section_fields.blank? %>
      <div class="no-fields">No fields added yet..</div>
    <% end %>
  </dd>
</dl>