<div class="page-header">
  <%= link_to hermes_operators_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @hermes_operator, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing hermes_operator</h1>
</div>

<%= render 'form' %>
