<div class="page-header">
  <%= link_to new_hermes_operator_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Hermes operator
  <% end %>
  <h1>Listing hermes_operators</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Network</th>
            <th>Data</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @hermes_operators) do |hermes_operator| %>
            <td><%= hermes_operator.network_id %></td>
            <td><%= hermes_operator.data %></td>
            <td><%= link_to 'Show', hermes_operator %></td>
        <td><%= link_to 'Edit', edit_hermes_operator_path(hermes_operator) %></td>
        <td><%= link_to 'Destroy', hermes_operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
