<div class="page-header">
  <%= link_to hermes_operators_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_hermes_operator_path(@hermes_operator), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show hermes_operator</h1>
</div>

<dl class="dl-horizontal">
  <dt>Network:</dt>
  <dd><%= @hermes_operator.network_id %></dd>

  <dt>Data:</dt>
  <dd><%= @hermes_operator.data %></dd>

</dl>
