<% @archived_imports = Import.where(archive: true, removed: false).order("created_at DESC").take(100) %>
<% @archived_imports.each do |import| %>
  <tr>
    <td><%= import.file_name %>
      <% case import.file_type %>
      <% when 'xml' %>
        <% if import.network %>
          <%= link_to network_read_xml_path(import.network) do %>
            <i class='fa fa-file-code-o'></i>
          <% end %> |
          <%= link_to import.network.display_name, import.network %>
        <% else %>
          <i class='fa fa-file-code-o'></i>
        <% end %>
      <% when 'pdf' %>
        <% unless import.pdfs.blank? %> 
          <%= link_to read_pdf_path(pdf_id: import.pdfs.first.id),data: {turbolinks: false} do %>
            <i class='fa fa-file-pdf-o'></i>
          <% end %>
          <span class="network_name linked" data-pdf-id="<%= import.id %>" data-toggle="modal" data-target="#pdfmodal"> | <%= import.organisation.try(:name) %> - linked to <%= pluralize(import.pdfs.last.pdf_networks.count, 'network') %> </span>   
        <% else %>
          <% if import.network %> 
          <%= link_to read_pdf_path(import: import) do %>
            <i class='fa fa-file-pdf-o'></i>
          <% end %>
          <span class="network_name"> | <%= link_to Network.find(import.network_id).display_name, Network.find(import.network_id) %></span>
            <%= link_to import_unlink_pdf_path(import.id) do %>
              <span class="linked" data-toggle="modal" data-pdf-id="<%= import.id %>">(Unlink)</span>
            <% end %>   
        <% else %>
        <i class='fa fa-file-pdf-o'></i>
          <span class="not-linked" data-toggle="modal" data-pdf-id="<%= import.id %>" data-target="#pdfmodal">
            Not linked
          </span>
        <% end %>
        <% end %>
      <% when 'xlsx', 'xls' %>
        <% if import.network %>
          <%= link_to network_read_excel_path(import.network) do %>
            <i class="fa fa-file-excel-o"></i>
          <% end %> |
          <%= link_to import.network.display_name, import.network %>
        <% else %>
          <i class="fa fa-file-excel-o"></i>
        <% end %>
        </td>
        </tr>
      <% end %>
<% end %>