<div class="modal fade" id="errormodal">
  <div class="modal-dialog" style="width: auto; max-width: 1300px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Errors in imports</h4>
      </div>
      <div class="modal-body">
        <table class="table-responsive table-striped sortable">
          <thead>
            <tr>
              <td>File Name</td>
              <td>Message</td>
              <td>Resolve</td>
            </tr>
          </thead>
          <tbody>
          <% @failed_imports.each do |import| %> 
            <tr>
              <td>
                <%= import.original_filename %>
              </td>
              <td>
                <%= import.error_message %>
              </td>
              <td style="width: 200px;">
                <div style="width: 400px;">
                  <% if import.error_message == 'Import is trying to create a new organisation' %>
                  <strong>Use one of theese organisations</strong><br/> 
                  <% import.organisation_override.each do |org| %>
                  <%= link_to import_resolve_path(import, organisation_override: org) do %>
                  <%= Organisation.find(org).name %> - <%= Organisation.find(org).networks.count %> connected networks <br/>
                  <% end %>
                  <% end %>
                  <% if import.organisation_override.blank? %>
                    No previous Organisations found
                  <% end %>
                  <br/>
                  <strong>Or</strong><br/> 
                  <%= link_to import_resolve_path(import) do %>
                  Create a new organisation
                  <% end %>
                  <% else %>
                    Contact technical support
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->