<%= form_for(@import) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="myLabel">
    <%= f.file_field :file_name, multiple: true, name: "import[file_name]", class: "custom-file-input"  %>
    <span>Add new file</span>
  </div>
<% end %>
