<div class="modal fade" id="pdfmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Choose network to link</h4>
      </div>
      <div class="modal-body">
        <table class="table-responsive table-striped sortable">
          <thead>
            <tr>
              <th>
                Organisation
              </th>
              <th>
                Network
              </th>
              <th>
                Mnc
              </th>
              <th>
                Mcc
              </th>
            </tr>
          </thead>
          <tbody>
            <% Network.joins(:organisation).includes(:pdf_networks).order("organisations.name, networks.display_name").all.each do |network| %>
            <tr data-organisation-id="<%= network.try(:organisation).id %>" data-network-id="<%= network.id %>" class="<% if network.pdf_networks.blank? %>choose-network<% else %>choosen<% end %>" id="network_<%= network.id %>">
              <td id="organisation_<%= network.try(:organisation).id %>" class="organisation">
                <%= network.try(:organisation).try(:name) %>
              </td>
              <td class="network_<%= network.id %> network">
                <%= network.display_name %>
              </td>
              <td class="network">
                <%= network.routing.try(:[], "e212_mcc") %>
              </td>
              <td class="network">
                <%= network.routing.try(:[], "e212_mnc") %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->