<% if @import_check %>
	alert("<%= @import.original_filename %> has been successfully uploaded before")
<% end %>
if(!$('.drop-area').hasClass("marked")) {
	$('.drop-area').show().html('').addClass('marked');
}
$('.drop-here').remove();
if("<%= @import.file_type %>" == "xml"){
  $('.drop-area').append('<i class="fa fa-times delete" aria-hidden="true" data-import-id="<%= @import.id %>"></i><i class="fa fa-file-code-o" data-toggle="tooltip" title="<%= @import.file_name %>"></i>');
}
if("<%= @import.file_type %>" == "pdf"){
  $('.drop-area').append('<i class="fa fa-times delete" aria-hidden="true" data-import-id="<%= @import.id %>"></i><i class="fa fa-file-pdf-o" data-toggle="tooltip" title="<%= @import.file_name %>"></i>');
}
if("<%= @import.file_type %>" == "xlsx"){
  $('.drop-area').append('<i class="fa fa-times delete" aria-hidden="true" data-import-id="<%= @import.id %>"></i><i class="fa fa-file-excel-o" data-toggle="tooltip" title="<%= @import.file_name %>"></i>');
}
if("<%= @import.file_type %>" == "xls"){
  $('.drop-area').append('<i class="fa fa-times delete" aria-hidden="true" data-import-id="<%= @import.id %>"></i><i class="fa fa-file-excel-o" data-toggle="tooltip" title="<%= @import.file_name %>"></i>');
}
$('#done').show();
