<script>
	$(function(){
		$('.date').datepicker({
			format: 'yyyy-mm-dd'
		});
	})

</script>
<% cache(@files, public: :true) do %>
<h1>Import files</h1>
<div class="page-header">
	<%= form_tag("/ir21/import-files?network_id=params[:network_id]",method: :get) do %>
	<%= text_field_tag :start_date, params[:start_date], placeholder: "Start date", data: {provide: 'datepicker'}, class: "date" %> - 
	<%= text_field_tag :stop_date, params[:stop_date], placeholder: "Stop date", data: {provide: 'datepicker'}, class: "date" %>
	<%= submit_tag "Show" %>
	<% end %>
</div>
<table class="table-responsive table-striped">
	<thead style="white-space: nowrap;">
		<tr>
			<th>Filename</th>
			<th>Filetype</th>
			<th>Import date</th>
			<th>File creation date</th>
			<th>Country</th>
			<th>Linked to network</th>
			<% if current_user.has_any_role? :admin, :superadmin %>
			<th>Delete</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @files.each do |file| %>
		<tr>
			<td>		
				<%= link_to file.file_name.truncate(50), read_file_path(file), data: {turbolinks: :false	} %>
			</td>
			<td>
				<% case file.file_type %>
				<% when "xlsx"
				"excel file"	 %>
				<% end %>
				<%= file.file_type %>
			</td>
			<td>
				<%= file.created_at.to_date %>
			</td>
			<td>
				<%= file.try(:file_creation_date).try(:to_date) %>	
			</td>
			<td>
				<%= file.network.try(:country).try(:name) %></td>
				<td>
					<% if file.network %>
					<%= link_to file.network.display_name, file.network if file.network %>
					<% else %>
					<% if file.file_type == 'pdf' && @network %>
					<%= link_to @network.display_name, @network %>
					<% end %>
					<!-- Try to find network through import reference in networks -->
					<%= link_to Network.where(import_id: file.id).first.try(:display_name), Network.where(import_id: file.id).first if  Network.where(import_id: file.id).first %> 
					<% end %>
					<% if current_user.has_any_role? :admin, :superadmin %>
					<td>
						<%= link_to 'Destroy', file, method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>