<h1>Import</h1>

<%= link_to "New import", new_import_path, class: "btn btn-default" %>
<h3>To be imported</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>File name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @imports.each do |import| %>
    <tr class="import-row">
      <td><%= import.file_name %>
        <% case import.file_type %>
        <% when 'xml' %>
        <% if import.network %>
          <%= link_to network_read_xml_path(import.network) do %>
            <i class='fa fa-file-code-o'></i>
          <% end %>
        <% else %>
          <i class='fa fa-file-code-o'></i>
        <% end %>
        <% when 'pdf' %>
          <i class="fa fa-file-pdf-o"></i>
        <% when 'xlsx', 'xls' %>
          <i class="fa fa-file-excel-o"></i>  
        <% end %>
        <div class="progress" id="import_<%= import.id %>" style="height: 7px;">
          <div class="progress-bar progress-bar-info" id="progress_<%= import.id %>" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 7px;">
          </div>
        </div>

        <!-- Error notice -->
        <% if import.failed %>
          <div class="error" id="error_<%= import.id %>">
            <i class="fa fa-bug" data-toggle="tooltip" data-placement="top"
               title="<%= import.error_message %>"></i> 
          </div>
        <% end %>
        <!-- /Error notice -->

        <!-- Diff -->
        <div class="diff" id="diff_<%= import.id %>">
          <%= link_to import_resolve_conflict_path(import) do %>
            Resolve conflicts!
          <% end %>
        </div>
        <!-- /Diff -->

      </td>
      <td>
        <%= link_to 'Destroy', import, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Archived</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>File name</th>
  </tr>
  </thead>

  <tbody id="archived">
    <%= render 'archived_imports' %>
  </tbody>
</table>
<%= render 'pdf_linking_modal' %>
<%= render 'error_notice_modal' %>