$('.choosen').removeClass('choosen').addClass('choose-network');
<% @linked_networks.each do |network| %>
  $("#network_<%= network.network_id %>").addClass('choosen');
  $("#network_<%= network.network_id %>").removeClass('choose-network');
<% end %>
//location.reload();