<% @pdf_networks.each do |network| %>
console.log("<%= network.network_id %>")
$("#network_<%= network.network_id %>").removeClass('choose-network').addClass('choosen');
<% end %>
<% unless @pdf_networks.blank? %>
$('#pdfmodal').on('shown.bs.modal', function (e) {
  $('.modal').animate({
    scrollTop: ($("#network_<%= @pdf_networks.first.network_id %>").offset().top)
  },500);
});
<% end %>  
