<h1>Resolve conflict</h1>
<% @conflicts.each do |conflict| %>
    <% next unless conflict %>
    <div>
      <div class="date">
        <%= conflict.created_at.to_date %>
      </div>
      <div class="creator">
        By: <%= User.find_by(id: conflict.whodunnit).try(:fullname) %>
      </div>
    </div>
    <% if conflict.object_changes %>
        <% split = conflict.object_changes.split("-") %>
        <% string1 = split[4].to_s %>
        <% string2 = split[5].to_s %>
        <h3>Changes</h3>
        <div class="change">
          <%
             s1 = string1.split('\'')
             s2 = string2.split('\'')
          %>
          <% after = s2 - s1 %>
          <% before = s1 - s2 %>
          <% key = s2.find { |x| x } %>

          <h4>From XML</h4>

          <div class="before">
            <%= key.humanize %> <span class="change-value"><%= before.first %></span>
          </div>

          <h4>User updated</h4>

          <div class="after">
            <%= key.humanize %> <span class="change-value"><%= after.first %></span>
          </div>
        </div>
        <div class="change-buttons">
          <div class="use-xml">Use xml version</div>
          <div class="use-updated">Use updated version</div>
        </div>
        <div class="clearfix"></div>
        <br/><br/>
    <% end %>
<% end %>