<h1>Scraping settings</h1>

<%= bootstrap_form_for(@scraping_settings, url: {action: 'update_scrapings'}) do |f| %>
  <% if @scraping_settings.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scraping_settings.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @scraping_settings.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Provide a new password" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "update scraping settings" %>
  </div>
<% end %>