<br/><br/>
<p>
	<strong>File name:</strong>
	<%= @import.file_name %>
	<% if @import.network %>
	<%= link_to network_read_xml_path(@import.network) do %>
	<% end %>
	<%= link_to network_read_xml_path(@import.network) do %>
	<i class="fa fa-file-excel-o"></i>
	<% end %>
	<% end %>
</p>
<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
