<script>
  $(function(){
    $('.date').datepicker({
      format: 'yyyy-mm-dd'
    });
  })

</script>

<% cache(@imports, public: :true) do %>
<h1>Import Summery</h1>
<div class="page-header">
  <%= form_tag("/ir21/imports/summery",method: :get) do %>
  <%= text_field_tag :start_date, params[:start_date], placeholder: "Start date", data: {provide: 'datepicker'}, class: "date" %> - 
  <%= text_field_tag :stop_date, params[:stop_date], placeholder: "Stop date", data: {provide: 'datepicker'}, class: "date" %>
  <%= submit_tag "Show" %>
  <% end %>
</div>
<table class="table-responsive table-striped networks sortable">
	<thead style="white-space: nowrap;">
		<tr>
			<th>Date</th>
			<th>Network</th>
			<th>Tadig</th>
			<th>File</th>
			<th>Effective date of change</th>
			<th>Changed sections</th>
		</tr>
	</thead>
	<tbody>
		<% @imports.each do |import| %>
			<tr>
				<td><%= import.created_at.to_date %></td>
				<td><%= import.network.try(:display_name) %></td>
				<td><%= import.network.try(:tadig_code) %></td>
				<td>
      <% case import.file_type %>
      <% when 'xml' %>
        <% if import.network %>
          <%= link_to network_read_xml_path(import.network) do %>
            <i class='fa fa-file-code-o'></i>
          <% end %> |
          <%= link_to import.network.display_name, import.network %>
        <% else %>
          <i class='fa fa-file-code-o'></i>
        <% end %>
      <% when 'pdf' %>
        <% if import.network %> 
          <%= link_to read_pdf_path(import: import) do %>
            <i class='fa fa-file-pdf-o'></i>
          <% end %>
          <span class="network_name"> | <%= link_to Network.find(import.network_id).display_name, Network.find(import.network_id) %></span>
            <%= link_to import_unlink_pdf_path(import.id) do %>
              <span class="linked" data-toggle="modal" data-pdf-id="<%= import.id %>">(Unlink)</span>
            <% end %>   
        <% else %>
        <i class='fa fa-file-pdf-o'></i>
          <span class="not-linked" data-toggle="modal" data-pdf-id="<%= import.id %>" data-target="#pdfmodal">
            Not linked
          </span>
        <% end %>
      <% when 'xlsx', 'xls' %>
        <% if import.network %>
          <%= link_to network_read_excel_path(import.network) do %>
            <i class="fa fa-file-excel-o"></i>
          <% end %> |
          <%= link_to import.network.display_name, import.network %>
        <% else %>
          <i class="fa fa-file-excel-o"></i>
        <% end %>
      <% end %>
      </td>
				<td>
        <% if import.network %>
          <%= import.network.routing["effective_date_of_change"] %>
        <% end %>
        </td>
				<td>
					<% if import.try(:network_diffs) %>
						<% import.network_diffs.each do |diff| %>
							<%= link_to show_diff_snapshot_path(diff.id) do %>
                <%= diff.message %>
              <% end %>
						<% end %>
					<% else %>
						no changes
					<% end %>
				</td>
			</tr>
		<% end %> 		
	</tbody>
</table>
<% end %>

