<h1>Upload Code file</h1>

<%= form_tag({controller: "imports", action: "upload_sms_hub_file"},multipart: true) do %>
<br/><br/>
<%= file_field_tag "file" %>
<br/><br/>
<%= submit_tag "Upload file" %>
<% end %>