<h1>History - <%= @network.network_name %></h1>
<div class="versions">
	<!-- Preview layer -->
	<div id="preview"></div>
	<!-- Preview layer -->
	<% @version.each do |version| %>
	
	<% if version.whodunnit %>
	<% changes = PaperTrail::Version.where("whodunnit = ? AND date(created_at) = ? AND network_id = ?",version.whodunnit, version.date, params[:network_id]).all %>
	<% else %>
	<% changes = PaperTrail::Version.where("date(created_at) = ? AND network_id = ? AND
	whodunnit is NULL", version.date, params[:network_id]).all %>
	<% end %>
	<div class="row">
		<div class="responsible col-md-1">
			<div class="user">
				<div class="date">
					<%= version.date %>
				</div>
				<% unless version.whodunnit %>
				<i class="fa fa-cogs"></i>
				<% else %>
				<i class="fa fa-user"></i>
				<% end %>
			</div>
			<div class="name">
				<% unless version.whodunnit %>
				SYSTEM
				<% else %>
          <% ActiveRecord::Base.establish_connection("tgs_beta").connection if Rails.env == "beta" %>
				<%= User.find(version.whodunnit).try(:name) %>
          <% ActiveRecord::Base.establish_connection("beta").connection if Rails.env == "beta" %>
				<% end %>
			</div>
		</div> 
		<div class="col-md-9">
			<div class="action" style="float: left;">
				<%= changes.count %>
			</div>

			<!-- changes -->
			<div class="change-wrapper">
				<div class="changes" <% if changes.count > 40 %>style="width: <%= changes.count * 53 %>px"<% end %>>
					<% changes.each do |change|  %>
					<span class="change" style="float: left;" data-change="<%= change.changeset.to_s %>">
						<%= link_to network_version_path(@network, change) do %>
						<div class="text">
							<%= change.event %>
						</div>
						<% end %>
					</span>
					<% end %>
				</div>
			</div>
			<!-- /changes -->
		</div>
		<div class="changed col-md-2">
			
		</div>
	</div>
	<% end %>
</div>