<h3>Change</h3>
<div class="date"><%= @version.created_at.to_date %></div>
<br/><br/>
<pre><%= @version.object %></pre>
<div class="revert">
<%= link_to revert_path(@version), data: { confirm: 'Are you sure?' } do %>
	<i class="fa fa-undo"></i>
<% end %>
</div>