<%= form_for(@country, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @country.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h4>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iso_code, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :iso_code, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iso2_code, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :iso2_code, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :e164_code, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :e164_code, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mnp, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :mnp, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
