<div class="page-header">
  <%= link_to new_country_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Country
  <% end %>
  <h1>Listing countries</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Iso code</th>
            <th>Iso 2 code</th>
            <th>E164 code</th>
            <th>Mnp</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @countries) do |country| %>
            <td><%= country.name %></td>
            <td><%= country.iso_code %></td>
            <td><%= country.iso2_code %></td>
            <td><%= country.e164_code %></td>
            <td><%= country.mnp %></td>
            <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
