<div class="page-header">
  <%= link_to countries_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_country_path(@country), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show country</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @country.name %></dd>

  <dt>Iso code:</dt>
  <dd><%= @country.iso_code %></dd>

  <dt>Iso 2 code:</dt>
  <dd><%= @country.iso2_code %></dd>

  <dt>E164 code:</dt>
  <dd><%= @country.e164_code %></dd>

  <dt>Mnp:</dt>
  <dd><%= @country.mnp %></dd>

</dl>
