.exports {
	&#index {
		.modal {
			.manual-exports {
				padding-top: 10px;
			}
			.automatic-exports {
				padding-top: 10px;	
			}
			.export-type {
				color: #8C8C8C;
			}
			.export-row {
				padding: 7px;
				border: 1px solid #D6D6D6;
				margin-bottom: 5px;
				&:hover {
					background-color: #D0D0D0;
					transition: 1s;
					cursor: pointer;
				}
			}
			.description {
				color: #8C8C8C;
			}
			.title {
				font-size: 14px;
			}
			h4 {
				font-size: 15px;
			}
		}
	}
}