.imports {
	&#index {
		.choose-network {
			cursor: pointer;
		}
		.choosen {
			background-color: #5D9FF3;
		}
		.progress {
			display: none;
			.progress-bar {				
			}
		}
		.not-linked {
			color: #EB274B;
			text-decoration: underline;
			margin-left: 30px;
			&:hover {
				cursor: pointer;
			}
		}
		.linked {
			color: #EB274B;
			text-decoration: underline;
			&:hover {
				cursor: pointer;
			}
		}
		.error {
			display: none;
			float: right;
			width: 30px;
			margin-left: 10px;
			.fa {
				font-size: 20px;
				color: #EB274B;
			}
		}
		.diff {
			display: none;
			float: right;
			a {
				color: #EB3415;	
			}
		}
		#pdfunlinkmodal {
			.button {
				background-color: #D0D0D0;
				padding: 10px;
				text-align: center;
				color: #424242;
				width: 70%;
				border-radius: 8px;
				margin: auto;
				margin-top: 30px;
				margin-bottom: 30px;
				&:hover {
					background-color: #909090;
					transition: 1s;
					cursor: pointer;
				}

			}
		}
	}
	&#new {
		.fa-times {
			color: #EB274B;
			font-size: 30px;
			position: relative;
			top: -45px;
			left: 0px;
			&:hover {
				background-color: #D3D3D3;
				transition: 1s;
				cursor: pointer;
			}
		}
		.fa-file-excel-o, .fa-file-pdf-o, .fa-file-code-o {
			font-size: 70px;
			margin-top: 10px;
			margin-right: 10px;

		}
		#done {
			width: 120px;
			padding: 7px;
			margin-top: 20px;
		}
		.drop-area {
			width: 100%;
			height: 100px;
			margin-top: 35px;
			line-height: 100px;
			color: #A9A9A9;
			overflow: auto;
			&.marked {
				border: 3px dotted #CDCDCD;
			}
			.drop-here {
				font-family: Roboto;
				font-size: 30px;
			}
		}
		form {
			#import_file_name {display: none}
			.myLabel {
				border: 1px solid #AAA;
				border-radius: 4px;
				padding: 7px;
				margin: 2px;
				background: #DDD;
				display: inline-block;
				text-align: center;
				width: 200px;
				box-shadow: 2px 2px 4px #D0D0D0;
				&:hover {
					cursor: pointer;
					background-color: #A4A4A4;
					transition: 0.5s; 
				}
			}
			.myLabel:hover {
				background: #CCC;
			}
			.myLabel:active {
				background: #CCF;
			}
			.myLabel :valid + span {
				color: #3B3B3B;
				font-family: Roboto;
				font-weight: 300;
				font-size: 20px;
			}
		}
	}
	&#show {
		i {
			font-size: 35px;
			margin-left: 10px;
			position: relative;
			top: 5px;
		}
	}
	&#resolve_conflict {
		.date {
			color: #1FAAFD;
		}
		.creator {
			font-weight: bold;
		}
		.change {
			.before, .after {
				margin-left: 15px;
			}
			h4 {
				color: #1FAAFD;
			}
			.change-value {
				font-size: 16px;
			}
			background-color: #F4F4F4;
			box-shadow: 2px 3px 4px #F1F1F1;
			border: 1px solid #D9D9D9;
			border-radius: 5px;
			padding: 10px;
		}
		.change-buttons {
			margin-top: 20px;
			.use-xml {
				&:hover {
					background-color: #BCBCBC;
					transition: 1s;
					cursor: pointer;
				}
				box-shadow: 2px 3px 4px #F1F1F1;
				text-align: center;
				border-radius: 8px;
				margin-right: 10px;
				width: 150px;
				padding: 10px;
				float: left;
				background-color: #D7D7D7;
			}
			.use-updated {
				@extend .use-xml;
				&:hover {
					background-color: #008EBF;
					transition: 1s;
					cursor: pointer;
				}
				color: white;
				background-color: #00A7E2;
			}	
		}
	}
}