.index {
  &#index {
    .splash {
      position: absolute;
      top: 70px;
      left: 0px;
      width: 100%;
      height: 93%;
      background: image-url("<%= asset_path("index/tgs_frontpage.png")%>") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: 2;
    }
    #login-box {
      position: absolute;
      left: 20px;
      top: 90px;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 4px;
      input {
        width: 300px;
        padding: 10px;
        border-radius: 2px;
        border: none;
        margin-bottom: 8px;
        &.btn {
          margin-top: 10px;
          &:hover {
            background-color: #959595;
            transition: 1s;
          }
        }
      }
      .remember-me {
        span {
          color: white;
        }
      }
      .divider {
        color: white;
        margin-right: 5px;
      }
      a {
        color: white;
      }
    }
  }
  &#settings {
    nav {
      .fa {
        color: #6A6A6A;
        font-size: 70px;
        margin-bottom: 10px;
        &:hover {
          color: #00A7E2;
          cursor: pointer;
        }
      }
    }
  }
  &#import_diffs {
    .imsi {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: 1s;
      }
    }
    .data {
      display: none;
    }
  }
}
