	$menu-expand-color: #707070;
	$active-color: #4391f3;
	/* Setting padding to account for header */
	body {
		padding-top: 70px;
		h1, h2, h3, h4, h5 {
			font-family: "Roboto";
			font-weight: 300;
		}
	}
	.container {
		margin-left: 20px;
	}
	.tablesorter-sticky-visible {
		padding-top: 70px;
	}
	/* Global styling for back button */
	#back {
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		position: relative;
		top: 10px;		
		padding: 10px 4px 4px 4px;
		.fa {
			font-size: 25px;
		}
	}

	#error_explanation {
		h2 {
			font-family: "Roboto";
			font-weight: 400;
			font-size: 20px;
			color: #959595;
		}
	}

	header.header {
		background-color: #d2d2d2;
		height: 70px;
		width: 100%;
		position: fixed;
		z-index: 4;
		top: 0px;
		.logo {
			width: 120px;
			margin-top: 9px;
			margin-left: 10px;
			margin-right: 50px;
			float: left;
		}
		#search-form {
			float: left;
			margin-top: 13px;
			margin-left: 20px;
			input {
				border-radius: 3px;
				width: 300px;
				border: 0;
				padding: 10px;
				font-size: 16px;
				border-radius: 2px !important;
			}
		}
		/* Icon to expand menu */
		#menu-expand {		
			float: right;
			font-size: 28px;
			margin-right: 15px;
			margin-top: 15px;
			border: 3px solid $menu-expand-color;
			color: $menu-expand-color;
			padding: 1px 3px 1px 3px;
			&.active {
				color: $active-color;
			}
		}
		/* Notification*/
		.diff {
			position: absolute;
			right: 60px;
			top: 17px;
			a {
				.fa {
					font-size: 35px;
					color: #EB274B;
				}
			}
			.number {
				position: absolute;
				top: -8px;
				left: 3px;
				color: #FFFFFF;
			}
		}
	}
	/* Hidden menu on right */
	.slidein-right {
		position: fixed;
		padding: 10px;
		color: #f3f3f3;
		background-color: #4b4b4b;
		height: 100%;
		width: 200px;
		right: -200px;
		transition: 0.5s;
		z-index: 3;
		list-style: none;
		line-height: 70px;
		font-family: "Roboto";
		font-weight: 300;
		overflow: auto;
		padding-bottom: 100px;
		li {
			border-bottom: 1px solid #8f8f8f;
			display: block;
			clear: both;
			&:hover {
				.fa {
					color: #4391f3;
					transition: 1s;
				}
			}
		}	
		.iconwrapper {
			float: left;
			width: 40px;
			margin-right: 10px;
			.fa {
				position: relative;
				top: 4px;
				color: #a4a4a4;
				font-size: 28px;
				margin: 5px;
			}	
			.fa-mobile {
				font-size: 50px;
			}
		}
		a {
			color: white;
			&:hover {
				color: white;
			}
		}
		&.active {
			right: 0px;
			transition: 0.5s;
		}
		.user {
			line-height: 50px;
			height: 50px;
			margin-top: -10px;
			margin-right: -10px;
			border-bottom: 1px solid #8f8f8f;
			.fa {
				font-size: 20px;
				color: #a4a4a4;
			}
			.fa-user {
				font-size: 30px;
				margin-left: 10px;
				margin-top: 10px;

			}
			.fields {
				float: right;
				width: 100px;
				position: relative;
				right: -100px;
				transition: 0.5s;
				&.active {
					right: 0px;
					transition: 0.5s;
				}
				.sign-out {
					text-align: center;
					float: right;
					width: 50px;
					height: 50px;
					background-color: #EB274B;
					&:hover {
						background-color: #B81D3A;
						cursor: pointer;
						transition: 0.5s;
					}
					.fa-power-off {
						margin: auto;
						&:hover {
							color: #959595;
							transition: 1s;
						}
					}

				}
				.settings {
					text-align: center;
					width: 50px;
					height: 50px;
					float: right;
					background-color: #CECECE;
					.fa {
						color: #696969;
					}
					&:hover {
						background-color: #9F9F9F;
						transition: 0.5s;
					}
				}
			}
		}
	}
	.alert {
		position: absolute;
		top: 10px;
		right: 0px;
		width: 40%;
		z-index: 5;
		.fa {
			font-size: 20px;
		}
	}
	/* New button on every index page */
	.new-button {
		float: right;
	}
