.networks {
  &#show {
    #code-ranges {
    margin-bottom: 10px;      
      .versions {
        margin-bottom: 20px;
        div {
          padding: 5px;
          float: left;
          margin-right: 5px;
          line-height: 10px;
        }
        .active {
          border: 1px solid #93C4FF;
          border-radius: 8px;
        }
        .inactive {
          color: #8C8C8C;
        }  
      }
      
    }
    .other-networks {
      a {
        color: #393939;
        text-decoration: none;
        .this-network {
          padding: 10px 10px 10px 10px;
          position: relative;
          bottom: 8px;
          border-top-left-radius: 4px;
          border-top-right-radius: 15px;
          background-color: white;
          border-top: 1px solid #B9B9B9;
          border-left: 1px solid #B9B9B9;
          border-right: 1px solid #B9B9B9;
          margin-right: 5px;
          text-decoration: none;
        }
        .other-network {
          padding: 10px 10px 10px 10px;
          position: relative;
          border-top: 1px solid #B9B9B9;
          border-left: 1px solid #B9B9B9;
          border-right: 1px solid #B9B9B9;
          bottom: 8px;
          border-top-left-radius: 4px;
          border-top-right-radius: 15px;
          background-color: #EBEBEB;
          margin-right: 5px;
          text-decoration: none;
          transition: 1s;
          &:hover {
            cursor: pointer;
            background-color: #B8B8B8;
            transition: 1s;
          }
        }
      }
    }
    .ajax {
      span {
        font-size: 25px;
        font-family: Roboto;
        font-weight: 200;
        color: #C4C4C4;
        margin-left: 10px;
      }
      .fa-spin {
        color: #C4C4C4;
        font-size: 30px;
      }
    }
    .fa-plus-square {
      cursor: pointer;
    }
    #linerangeModal {
      .modal-dialog {
        overflow: hidden;
      }
      input {
        padding: 16px;
        font-size: 18px;
      }
      .btn {
        margin-top: 15px;
        float: left;
      }
    }
    .delete-row {
      transition: 2s;
      cursor: pointer;
      width: 50px;
      height: 50px;
      overflow: visible;
      position: relative;
      right: -20px;
      .fa {
        font-size: 30px;
        color: #FD1500;
        padding: 5px;
      }
    }
    .document-links {
      a {
        font-size: 30px;
        position: relative;
        top: -50px;
        right: -150px;
        text-decoration: none;
      }
    }
    .show-collapsed {
      border: 1px dashed #D0D0D0;
      padding: 10px;
      clear: both;
      &:hover {
        cursor: pointer;
      }
    }
    .hide-collapsed {
      border: 1px dashed #D0D0D0;
      padding: 10px;
      clear: both;
      display: none;
      &:hover {
        cursor: pointer;
      }
    }
    table {
      border: 1px dotted #BBBBBB;
      &.collapsed {
        display: none;
      }
    }
    /* Navbar spy */
    #navbar-spy {
      position: fixed;
      top: 70px;
      height: 100%;
      width: 180px;
      overflow: auto;
      transition: 0.5s;
      left: -160px;
      background-color: #eaeaea;
      &::-webkit-scrollbar {
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
      }
      &.stick {
        top: 0px;
      }
      &.expanded {
        left: 0px;
        transition: 0.5s;
      }
      li {
        border-bottom: 1px solid #a1a1a1;
        width: 180px;
        font-size: 12px;
        &.active a .selected {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 20px;
          height: 100%;
          background-color: #5D9FF3;
        }
        a {
          color: #393939;
          &:hover {
            background-color: #ffffff;
            transition: 0.5s;
          }
        }
      }
    }
    /* /Navbar spy */
    a.network_versions {
      float: right;
      margin-bottom: 20px;
      background-color: white;
      transition: 1s;
      overflow: -moz-scrollbars-none;
      &.update {
        transition: 0.5s;
        background-color: #00B6F6;
      }
    }
    .dummy-row {
      display: none;
    }
    .edit {
      cursor: pointer;
      position: relative;
      &.active {
        background-color: #EAEAEA;
      }
      #edit-icon {
        position: absolute;
        right: 10px;
        bottom: 3px;
        .fa {
          font-size: 30px;
        }
      }
      #edit_input {
        width: 100%;
        padding: 10px;
      }
    }
    .modal {
      .modal-dialog {
        max-height: 90%;
        overflow: scroll;
      }
      .name {
        padding: 10px;
        margin: 3px;
        float: left;
        border-radius: 6px;
        background-color: #D0D0D0;
        &:hover {
          background-color: #00A7E2;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
    .add-section {
      position: relative;
      padding: 10px;
      border: 3px dotted white;
      margin-bottom: 50px;
      .fa {
        color: #808080;
        font-size: 70px;
        &:hover {
          cursor: pointer;
          color: #00A7E2;
          transition: 0.5s;
        }
      }
      &.active {
        border: 3px dotted #CECECE;
        height: 100px;
        background-color: #FBFBFB;
      }
      .text {
        display: none;
        font-size: 40px;
        color: #C8C8C8;
        line-height: 90px;
        font-family: Roboto;
        font-weight: 200;
        width: 70%;
        left: 40%;
        top: 0px;
        position: absolute;
      }
    }
    .new-section-container {
      display: none;
      input {
        padding: 7px;
        border-radius: 4px;
        margin-right: 5px;
        box-shadow: none;
        border: 1px solid #A3A3A3;
      }
    }
    .new-section-row {
      float: left;
      margin-top: 6px;
      margin-left: 10px;
      .fa {
        font-size: 20px;
        color: #808080;
        &:hover {
          color: #00A7E2;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
    .section-title {
      float: left;
    }
    .parent-wrapper {
      margin-top: 20px;
    }
  }
  &#index {
    .container {
      width: 100%;
    }
    .e214_nc {
      max-width: 20px;
    }
    .indent {
      margin-left: 10px;
      color: #8C8C8C;
      :first-child {
        .name {
          margin-left: 20px;
        }
      }
    }
    .comment {
      font-size: 20px;
      margin: auto;
    }
    .edit {
      cursor: pointer;
      position: relative;
      &.active {
        background-color: #EAEAEA;
      }
      #edit-icon {
        position: absolute;
        z-index: 100;
        right: 10px;
        bottom: 3px;
        .fa {
          font-size: 30px;
        }
      }
      #edit_input {
        width: 100%;
        padding: 10px;
      }
    }
    input {
      width: 100%;
    }
  }
  &#flagged_networks {
    h1 {
      margin-bottom: 30px;
    }
  }
}