.network_sections {
	/* GET /edit */
	&#edit {
		form {
			.no-fields {
				color: #8C8C8C;
				font-size: 18px;
			}
			.new-field {
				width: 300px;
				margin-top: 20px;
				.fa-plus-square {
					float: left;
					font-size: 25px;
					margin-left: 15px;
					margin-top: 3px;
					margin-bottom: 10px;
					&:hover {
						cursor: pointer;
						color: #1FAAFD;
						transition: 1s;
					}
				}
				h3 {
					margin-left: 15px;
					margin-top: 0px;
					float: left;
				}	
			}
			.edit-field-input {
				padding: 5px;
				width: 90%;
			}
			#network_section_collapsed {
				margin-top: 8px;
			}

			.section-fields {		
				.section-field {
					margin-bottom: 10px;
					text-align: center;
					padding: 10px;
					font-size: 18px;
					font-family: Roboto;
					border-radius: 6px;
					background-color: #FEFEFE;
					border: 3px solid #D8D8D8;
					position: relative;
					.edit-icon {
						display: none;
						position: absolute;
						right: 10px;
						top: 10px;
						.fa {
							font-size: 35px;
							float: right;
							margin-top: -5px;
							
						}
					}
					
				}
			}
			
		}
	}
	&#index {
		td {
			cursor: pointer;
			&.subsection {
				
			}
		}
		tr {
			&.subsection {		
			}
		}
	}
}