.notification {
	&#notify_groups {
		.add-network {
			color: #B3B0B6;
			font-size: 25px;
			border: 1px solid #E7E3EB;
			padding: 10px;
			margin-bottom: 10px;
			float: right;
			transition: 1s;
			&:hover {
				cursor: pointer;
				background-color: #F7EFFF;
				transition: 1s;
			}
			.fa {
				font-size: 30px;
			}
		}
		.click-row {
			cursor: pointer;
		}
	}
	&#notify_group {
		.add-network {
			&:hover {
				cursor: pointer;
			}
		}
		h4 {
			.fa {
				font-size: 30px;
				color: #8C8C8C;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.modal {
			.hand {
				cursor: pointer;
			}
			.networks {
				height: 600px;
				overflow: auto;	
			}
		}
	}
}