.organisations {
	&#index {
		table {
			width: 100%;
		}

			tr {
				width: 100%;
				padding: 10px;
				.fa {
					margin-right: 10px;
					font-size: 20px;
				}
				td {
					padding: 10px;	
				}	
			}
			thead {
				background-color: white;
				tr {
				padding: 10px;
				background-color: white;	
			}
			}
	}
}
