.search {
  &#index {
    a {
      .result {
        height: 100px;
        margin-top: 10px;
        border: 1px solid #A0A0A0;
        color: #393939;
        &:hover {
          background-color: #d3d3d3;
          transition: 1s;
        }
      }
    }
  }
}