/* User */
#new_user_session {
	input {
		width: 300px;
		padding: 10px;
		border-radius: 2px;
		border: none;
		margin-bottom: 8px;
		border: 1px solid #d0d0d0;
		&.btn {
			margin-top: 10px;
			&:hover {
				background-color: #959595;
				transition: 1s;
			}
		}
	}
	.divider {
		color: white;
		margin-right: 5px;
	}
	a {
		color: white;
	}
}

.users {
	&#edit {
		.notify-checkbox, .view-checkbox {
			margin-right: 10px;
		}
		td.delete {
			a {
				.fa {
					color: red;
				}
			}
		}
		.roles {
			margin-bottom: 25px;
			.role {
				padding: 10px;
				border: 1px solid #D0D0D0;
				width: 200px;
				position: relative;
				.delete {
					float: right;
					.fa {
						color: rgb(207, 28, 81);
						font-size: 30px;
						line-height: 30px;
						position: relative;
						bottom: 6px;
					}
				}
			}
		}
	}
}
