.versions {
	/* GET versions/index */
	&#index {
		.versions {
			#preview {
				padding: 20px;
				overflow: auto;
				max-width: 400px;
				height: auto; 
				background-color: rgba(0,0,0,0.3);
				border-radius: 7px;
				color: white; 
				position: absolute; 
				z-index: 200; 
				display:none;
			}
			.row {
				border-bottom: 1px dotted #CCCCCC;
				padding-bottom: 5px;
				padding-top: 5px;
				.change-wrapper {
					max-height: 120px; 
					overflow-x: auto;
					.changes {
						height: 120px;
						white-space: nowrap;
						.change {
							background-color: #EAEAEA;
							overflow: hidden;
							margin-right: 2px;
							line-height: 120px;
							color: #737373;
							padding-left: 10px;
							.text {
								transform: rotate(-90deg);
								transform-origin: left left 0;
							}
							&:hover {
								background-color: #B0B0B0;
								cursor: pointer;
								transition: 0.5s;
							}
						}
					}
				}
				.responsible {
					.date {
						color: #757575;
						font-size: 10px;
						line-height: 15px;
						border-bottom: 1px solid #C2C2C2;
					}
					.user {
						border-radius: 4px 4px 0px 0px;
						background-color: #D7D7D7;
						text-align: center;
						height: 70px;
						line-height: 70px;
						@media (max-width: 1200px) {
							line-height: 50px;
						}
						.fa {
							font-size : 35px;
							color: #6C6C6C;
							@media (max-width: 1200px) {
								font-size : 20px;
							}
						}
					}
					.name {
						border-radius: 0px 0px 4px 4px;
						background-color: #93C4FF;
						color: white;
						text-align: center;
						font-size: 10px;
					}

				}
				.action {
					padding: 10px;
					width: 100px;
					border-radius: 4px;
					text-align: center;
					font-size: 30px;
					color: #474747;
					line-height: 60px;
					font-family: Roboto;
					font-weight: 300;
				}
				.changed {
					font-size: 28px;
					color:#CCCCCC;
					line-height: 70px;
					@media (max-width: 1200px) {
						font-size : 20px;
					}
				}
			}
		}
	}
	/* GET versions/show */
	&#show {
		.h3 {
			float: left;	
		}
		pre {
			background-color: white;
		}
		.date {
			float: left;
			background-color: #E4E4E4;
			padding: 3px;
			border-radius: 4px;
		}
		.revert {
			text-align: center;
			margin-top: 40px;
			a {
				.fa-undo {
					font-size: 250px;
					color: #2C2C2C;
					transition: 1s;
					text-align: center;
					&:hover {
						color: #EB274B;
						transform: rotate(-7deg);
						transition: 1s;
						cursor: pointer;
					}
				}
			}
		}
	}
	/* GEY revert */
	&#revert {
		h1 {
			text-align: center;
			margin-top: 200px;
		}
		.sk-spinner {
			width: 50px;
			height: 50px;
			margin-top: 35px;
		}
	}
}
