<script>
  $(function(){
    $('.date').datepicker({
      format: 'yyyy-mm-dd'
    });
  })

</script>
<% cache(@activities) do %>
<div class="page-header">
  <h1>Activities</h1>
  <%= form_tag("/ir21/activities",method: :get) do %>
  <%= text_field_tag :start_date, params[:start_date], placeholder: "Start date", data: {provide: 'datepicker'}, class: "date" %> - 
  <%= text_field_tag :stop_date, params[:stop_date], placeholder: "Stop date", data: {provide: 'datepicker'}, class: "date" %>
  <%= submit_tag "Show" %>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th> Date </th>
        <th>Network</th>
        <th>Type</th>
        <th>User</th>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, @activities) do |activity| %>
        <% next unless activity %>
        <td><%= activity.created_at.to_date %></td>
        <td><%= activity.try(:import).try(:network).try(:display_name) %>
        </td>
        <td><%= activity.name %></td>
        <td><%= User.where(id: activity.user_id).first.try(:first_name) %></td>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>