<div class="page-header">
  <%= link_to activities_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_activity_path(@activity), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show activity</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @activity.name %></dd>

  <dt>User:</dt>
  <dd><%= @activity.user_id %></dd>

  <dt>Type:</dt>
  <dd><%= @activity.activity_type %></dd>

</dl>
