<% unless Rails.env == "testserver" %>
  <%= form_for @user_session, url: :remote_login, method: :post do |f| %>
    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being
          saved:</h2>

        <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="actions" style="width: 66%">
      <%= f.submit "LOG IN", class: "btn" %><br/>
      <%= link_to 'Register', new_user_path %>
      <span class="divider">|</span><%= link_to "Forgot password?", forgot_password_path %>
    </div>
  <% end %>
<% end %>

<% if Rails.env == "testserver" %>
  <%= form_tag remote_login_path, :class => 'form-horizontal', :role => 'form' do %>
    <div class="field">
      <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'Email address' %>
    </div>
    <div class="field">
      <%= password_field_tag :password, nil, :class => 'form-control', :placeholder => 'Password' %>
    </div>
    <div class="remember-me">
      <input type="checkbox" name="remember_me" style="width: 20px;">
      <span>Remember Me</span>
    </div>
    <div class="actions">
      <%= submit_tag 'LOG IN', class: 'btn' %>
    </div>
  <% end %>
<% end %>