<div class="modal fade" id="export-type-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select export type</h4>
      </div>
      <div class="modal-body">
        <h4>Automatic exports</h4>
        <div class="automatic-exports">
          <% @export_types.each do |e| %>
          <%= link_to("#{e.function_call}", protocol: :https) do %>
          <div class="export-row">
            <h5 class="title"><%= e.name %></h5>
            <div class="description">
              <%= e.description %>
            </div>
          </div>
          <% end %>
          <% end %>
          <!-- List automatic but non editable exports -->
          <%= link_to(export_ip_addresses_path) do %>
          <div class="export-row">
            <h5 class="title">Ip address export</h5>
          <% end %>  
            <div class="description">
              Export either Ip address list, Asn list or Grx provider list
            </div>  
          </div>
          
        </div>

        <hr/>
        <h4>Manual exports</h4>
        
        <% @personal_exports.each do |export| %>
        <%= link_to export.name, create_manual_export_path(personal_export_id: export.id) %> 
        <i class="fa fa-times" aria-hidden="true" style="color: #de0029"></i>
        <br/>
        <% end %>
        <div class="manual-exports">
          <%= link_to 'Create a manual export', customized_exports_path, class: 'btn-primary btn' %>
        </div>

        <div class="clearfix"></div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->