<% @personal_export.personal_export_fields.each do |a| %>
  <%= a.export_field.name %>
<% end %>
<%= map = @personal_export.personal_export_fields.map {|d| d.export_field.name} %>
<%= map %>
<%= map.include?("organisation") %>