<h3>Customized IR21 export</h3><br/><br/>
<%= form_tag do %>
<%= text_field_tag "name", nil, placeholder: 'Name of export' %><br/><br/>
<% @fields.each do |field| %>
<%= check_box_tag "main_fields[#{field.id}]"%>
<%= field.name %><br/>

<% end %>
<br/><br/>
<%= submit_tag %>
<% end %>
