<h1>Export ip addresses</h1>
<div class="choices">
	<br/>
	<div class="message">Choose ip address section </div>
	<div class="btn-group">
		<button class="choice btn btn-default" data-exporttype="ip">
			Ip address list
		</button>
		<button class="choice btn btn-default" data-exporttype="asn">
			Asn list
		</button>
		<button class="choice btn btn-default" data-exporttype="grx">
			Grx provider list
		</button>
	</div>
</div>
<br/><br/><br/>
	<button class="btn btn-default link">
		Create export
	</button>