<% unless @exports_in_progress.blank? %>
<script>
  setInterval(function() {
    window.location.reload();
  }, 25000); 
</script>
<% end %>
<div class="page-header">
  <a href="#" class='btn btn-primary' data-toggle="modal" data-target="#export-type-modal" >
    <span class="glyphicon glyphicon-plus"></span>
    New Export
  </a>
  <h1>Listing exports</h1>
</div>

<% unless @exports_in_progress.blank? %>
<h4>In progress</h4>
<% end %>

<% @exports_in_progress.each do |export| %>
<div class="in_progress">
  <strong><%= export.export_type.name %> <span style="color:#5D9FF3"><%= export.progress %></span></strong>
  - <span style="color: #8C8C8C"> <%= export.created_at.to_date %> <%= export.created_at.to_time.strftime('%H') %>:<%= export.created_at.to_time.strftime('%M') %> </span>
</div>
<% end %>
<% unless @exports_in_progress.blank? %>
<hr/>
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>File</th>
        <th>User</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @exports) do |export| %>
      <td>
        <%= export.file %>
      </td>
      <td>
        <%= export.user_id %>
      </td>
      <td><%= link_to 'Download', download_export_path(export_id: export), data: {turbolinks: :false} %></td>
      <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?', turbolinks: false } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Export type modal -->
<%= render 'export_type_modal' %>
<!-- /Export type modal -->
