<div class="page-header">
  <%= link_to exports_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_export_path(@export), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show export</h1>
</div>

<dl class="dl-horizontal">
  <dt>File:</dt>
  <dd><%= @export.file %></dd>

  <dt>User:</dt>
  <dd><%= @export.user_id %></dd>

</dl>
