<header class="header">
	<%= link_to image_tag("layout/logo.png", class: "logo"), networks_path %>

	<!-- Notification of flagged networks -->
	<% diffcount = 0 %>
	<% if current_user %>
		<% if current_user.notified.nil? %>
			<% current_user.notified = current_user.created_at %>
		<% end %>
		<% if Rails.env.production? %>
		<% diffcount = NetworkDiff.where("created_at > ? AND section_id IN(?)", current_user.notified, current_user.notify_fields.pluck(:id).to_a).count %>
		<% else %>
		<% diffcount = NetworkDiff.where("created_at > ? AND section_id IN(?)", current_user.notified, current_user.notify_fields.pluck(:id).to_a).count %>
		<% end %>
	<% end %>
	<% if diffcount > 0 %>
		<div class="diff">
			<a href="/ir21/notifications"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
			<div class=number>
				<%= diffcount %>
			</div>
		</div>
	<% end %>
	<!-- /Notification of flagged networks -->

	<a href="#" class="expand-click" >
		<i class="fa fa-bars" id="menu-expand"></i>
	</a>
</header>
