<% if notice %>	
	<div id="alert" class="alert alert-warning fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		<span class="content"><i class="fa fa-bullhorn"></i> <%= notice %></span>
	</div>
<% end %>