<ul class="slidein-right">
  <!-- User setting section -->
  <li>
    <% if current_user %>
    <div class="user">
      <i class="fa fa-user"></i>

      <div style="position: absolute; top: 3px; left: 60px;">
        <%= current_user.first_name.upcase %>
      </div>
      <div class="fields">
        <%= link_to sign_out_path do %>
        <div class="sign-out">
          <i class="fa fa-power-off"></i>
        </div>
        <% end %>
        <% if Rails.env.development? %>
        <%= link_to user_path(current_user) do %>
        <div class="settings">
          <i class="fa fa-cog"></i>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="iconwrapper">
      <i class="fa fa-user"></i>
    </div>
    <%= link_to "LOGIN", sign_in_path %>
    <% end %>
  </li>
  <!-- /User setting section -->
  <% if current_user %>
  <!-- Activity -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-bullhorn"></i>
    </div>
    <%= link_to "ACTIVITY", activities_path %>
  </li>
  <!-- /Activity -->

  <!-- Import -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-file-text"></i>
    </div>
    <%= link_to "IMPORT", imports_path %>
  </li>
  <!-- /Import -->

  <!-- Export -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-floppy-o"></i>
    </div>
    <%= link_to "EXPORT", exports_path %>
  </li>
  <!-- /Export -->

  <!-- Networks -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-signal"></i>
    </div>
    <%= link_to "NETWORKS", networks_path %>
  </li>
  <!-- /Networks -->

  <!-- Flagged Networks -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <%= link_to "Flagged networks", flagged_networks_path %>
  </li> 
  <!-- /Flagged networks -->

  <!-- Files -->
  <li>
    <div class="iconwrapper">
      <i class="fa fa-files-o"></i>
    </div>
    <%= link_to "FILES", import_files_path %>
  </li>
  <!-- /Files -->

  <% if current_user.has_any_role? :admin, :superadmin %>
    <!-- Reports -->
    <li>
      <div class="iconwrapper">
        <i class="fa fa-bar-chart"></i>
      </div>
      <%= link_to "REPORTS", reports_path %>
    </li>
    <!-- /Reports -->

    <!-- Import summery -->
    <li>
      <div class="iconwrapper">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
      </div>
      <%= link_to "IMPORT SUMMERY", summery_imports_path %>
    </li>
    <!-- /Import summery -->


    <!-- Settings -->
    <li>
      <div class="iconwrapper">
        <i class="fa fa-cogs"></i>
      </div>
      <%= link_to "SETTINGS", settings_path %>
    </li>
    <!-- /Settings -->
    <% end %>
  <% end %>
</ul>