<!DOCTYPE html>
<html>
<head>
  <title>IR21-Inventory</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
  <!-- Disable turbolinks for networks/index, because of problem with jquery table filter on back button -->
  <% if params[:controller] == 'networks' && params[:action] == 'index' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  <% end %>
</head>
<body class="<%= params[:controller]%>" id="<%= params[:action] %>">
  <% if params[:debug] %>
    <%= debug current_user %>
  <% end %>
  <%= render 'layouts/notice_bar' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/slidein_right' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= include_gon %>
</body>

</html>